<form [formGroup]="formBilling">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 mb-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="card">
                        <div class="card-header px-3 py-2">
                            <h5 class="card-title mb-0">Informasi Pasien</h5>
                        </div>
                        <div class="card-body px-3 py-2">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <!-- No. Register dan No. MR -->
                                    <div class="row mb-2">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label class="form-label">No. Register : </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" [id]="'NoRegister'" readonly
                                                    placeholder="No. Register" formControlName="NoRegister">

                                                <app-shared-lookup [modal-id]="'modalAdmisiPasien'"
                                                    [modal-title]="'Data Admisi Pasien'" [modal-button]="buttonLookup"
                                                    [column-items]="columnsLookup" [filter-lookup]="filterLookup"
                                                    [lookup-url]="urlLookup" (onOpenModal)="onOpenLookup($event)"
                                                    (onGetSelectedData)="onGetSelectedDataLookupAdmisi($event)">
                                                </app-shared-lookup>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label class="form-label">No. Mr : </label>
                                            <input readonly type="text" class="form-control" formControlName="MrNo"
                                                placeholder="No. Mr">
                                        </div>
                                    </div>

                                    <!-- Kelas dan Tgl Masuk -->
                                    <div class="row mb-2">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label class="form-label">Kelas : </label>
                                            <input type="text" class="form-control" [id]="'ScvDescr'" readonly
                                                placeholder="Kelas" formControlName="ScvDescr">

                                            <input type="text" class="form-control" [id]="'ScvCode'" readonly hidden
                                                formControlName="ScvCode">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label class="form-label">Tgl Masuk : </label>
                                            <ejs-datepicker formControlName="TglMasukRawat" [format]="'dd MMMM yyyy'"
                                                [readonly]="true">
                                            </ejs-datepicker>
                                        </div>
                                    </div>

                                    <!-- Debitur dan No. Jaminan -->
                                    <div class="row mb-2">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label class="form-label">Debitur : </label>
                                            <input type="text" class="form-control" [id]="'NamaDebitur'" readonly
                                                placeholder="Debitur" formControlName="NamaDebitur">

                                            <input type="text" class="form-control" [id]="'PartyDebitur'" readonly
                                                hidden formControlName="PartyDebitur">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <label class="form-label">No. Jaminan : </label>
                                            <input type="text" class="form-control" readonly id="NoJaminan"
                                                placeholder="No. Jaminan">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <!-- Nama Pasien dan Alamat -->
                                    <div class="row mb-2">
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <label class="form-label">Nama Pasien : </label>
                                            <input type="text" class="form-control" [id]="'FirstName'" readonly
                                                placeholder="Nama Pasien" formControlName="FirstName">
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <label class="form-label">Alamat : </label>
                                            <textarea type="text" class="form-control" readonly id="Alamat"
                                                placeholder="Alamat" formControlName="Alamat" rows="3"
                                                style="height: 105px; max-height: 105px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="card">
                        <div class="card-header px-3 py-2">
                            <h5 class="card-title mb-0">Daftar Slip Tagihan</h5>
                        </div>
                        <div class="card-body p-0">
                            <shared-grid #gridSlipTagihan [grid-id]="'GridSlipTagihan'"
                                [grid-DataSource]="gridSlipTagihanDatasource" [grid-height]="'150px'"
                                [grid-lines]="'Both'" [columns]="gridSlipTagihanColumns"
                                (row-selected)="onSelectingRowGridSlipTagihan($event)"
                                (initialized)="onInitializedGridSlipTagihan($event)">
                            </shared-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 mb-2">
            <div class="card">
                <div class="card-header px-3 py-2">
                    <h5 class="card-title mb-0">Informasi Billing</h5>
                </div>
                <div class="card-body px-3 py-2">
                    <!-- Total Biaya -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Total Biaya</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <ejs-numerictextbox formControlName="TotalBiaya" [format]="'N2'" [showClearButton]="false"
                                [showSpinButton]="false" [readonly]="true" class="text-right pr-2"></ejs-numerictextbox>
                        </div>
                    </div>

                    <!-- Asuransi -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Asuransi</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <ejs-numerictextbox formControlName="Asuransi" [format]="'N2'" [showClearButton]="false"
                                [showSpinButton]="false" [readonly]="true" class="text-right pr-2"></ejs-numerictextbox>

                        </div>
                    </div>

                    <!-- Total Tagihan -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Total Tagihan</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <ejs-numerictextbox formControlName="TotalTagihan" [format]="'N2'" [showClearButton]="false"
                                [showSpinButton]="false" [readonly]="true" class="text-right pr-2"></ejs-numerictextbox>

                        </div>
                    </div>

                    <!-- Diskon Dokter -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Diskon Dokter</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <ejs-numerictextbox formControlName="DiskonDokter" [format]="'N2'"
                                    [showClearButton]="false" [showSpinButton]="false" [readonly]="true"
                                    class="text-right pr-2"></ejs-numerictextbox>
                                <button class="btn btn-sm btn-primary" type="button">
                                    <i class="fas fa-folder-open"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Saldo Klaim -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Saldo Klaim</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <ejs-numerictextbox formControlName="SaldoKlaim" [format]="'N2'"
                                    [showClearButton]="false" [showSpinButton]="false" [readonly]="true"
                                    class="text-right pr-2"></ejs-numerictextbox>
                                <button class="btn btn-sm btn-primary" type="button">
                                    <i class="fas fa-folder-open"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Telah Dibayar -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Telah Dibayar</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <ejs-numerictextbox formControlName="Bayar" [format]="'N2'" [showClearButton]="false"
                                [showSpinButton]="false" [readonly]="true" class="text-right pr-2"></ejs-numerictextbox>
                        </div>
                    </div>

                    <!-- Sisa Tagihan -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Sisa Tagihan</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <ejs-numerictextbox formControlName="SisaTagihan" [format]="'N2'" [showClearButton]="false"
                                [showSpinButton]="false" [readonly]="true" class="text-right pr-2"></ejs-numerictextbox>
                        </div>
                    </div>

                    <!-- Sisa Tagihan -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11 pr-0">
                                    <label for="NoRegister" class="form-label">Sisa Tagihan</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" formControlName="Status" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>