<div class="custom-control custom-checkbox custom-control-inline" *ngFor="let checkboxFilter of filters">
    <input type="checkbox" class="custom-control-input" id="{{checkboxFilter.field}}"
        (change)="onFilterChanged(checkboxFilter)">
    <label class="custom-control-label" for="{{checkboxFilter.field}}">{{checkboxFilter.title}}</label>
</div>