body {
  background-color: #f9f7f7;
}

/* =============================== OVERLAY */
.overlay {
  display: none;
  position: fixed;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  top: 0;
}

.overlay.active {
  display: block;
  opacity: 1;
}

/* =============================== CARD */

.border-title {
  border-top: 5px solid #106ebe;
  /* border-radius: 0px 50% 0px 50%; */
}

.responsive-height {
  height: 100%;
}

@media (max-width: 1366px) {
  .responsive-height {
    height: 100%;
  }
}

.navbar-biru {
  background-color: #3f72af;
  z-index: 1003;
}

.nav-link {
  color: #eeeeee !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 45%;
  right: 0px;
  transform: translateY(0%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #3f72af;
}

.list-sidebar {
  font-size: 14px;
}

a.list-sidebar {
  color: #112d4e;
  cursor: pointer;
}

.give-padding {
  /* background-color: #dbe2ef; */
  height: 42px;
  margin-bottom: 5px;
  font-weight: 500;
}

/* ============== NAVBAR DROPDOWN */
navbar .navbar-nav .dropdown-menu {
  width: 225px;
}

div.animation-dropdown-parents {
  max-height: 900px;
  background-color: #3f72af;
  z-index: 1001;
}

section.animation-dropdown-child {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.1s;

  transition: all 0.2s;
  max-height: 900px;
  background-color: #3f72af;
  top: 100%;
  width: 210px;
  max-width: 210px;
}

a.dropdown-item {
  color: #eeeeee !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #3f72af !important;
  background-color: #eeeeee !important;
}

.menuChild {
  font-size: 12px;
  padding-left: 10px !important;
}

.dropdown-submenu {
  position: relative;
  width: 210px;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 3px;
  top: 40%;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.1s;
  transition: all 0.2s;

  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -30px;
  left: 100%;
}

@media (max-width: 992px) {
  .dropdown-menu {
    width: 50%;
  }
  .dropdown-menu .dropdown-submenu {
    width: auto;
  }
}

#notif_total {
  position: absolute;
  margin-top: -10px;
  margin-left: -8px;
}

.notification-items {
  overflow: auto;
  height: 35px;
  padding: 0px 6px;
  width: 100%;
  z-index: 1002 !important;
  background-color: #3f72af;
}

.notification-box {
  background-color: white;
  width: 400px;
  height: 200px;
  overflow: auto !important;
  margin-top: 10px;
  margin-left: -270px;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
  z-index: 1001 !important;
  position: absolute;
  color: white !important;
  font-size: 16px;
  font-family: "Calibri";
  visibility: hidden;
}

.read {
  background-color: white;
}

.notread {
  background-color: ghostwhite;
}

.notread:hover {
  background-color: #eee;
}

.notification-box a {
  color: blue !important;
}

.notification-box.arrow-top:before {
  content: " ";
  z-index: 30 !important;
  position: absolute;
  right: 110px;
  top: -10px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid white;
  /* border:15px solid black; */
}

div.dropdown-menu-user {
  width: 160px !important;
}

div#main-content {
  padding-top: 56px;
  padding-bottom: 10px;
}
