<div class="wrapper" *ngIf="!isLoading">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-biru shadow-sm fixed-top">
        <a class="navbar-brand" style="cursor: pointer;" id="toggle" (click)="toggleClick()">
            <i class="fa fa-bars mr-1"></i>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li *ngFor="let menu of menuNavbar" class="nav-item dropdown dropdown-hover mr-3">
                    <a class="nav-link mr-2" [class.dropdown-toggle]="menu.items?.length > 0" id="dropdown"
                        [attr.data-toggle]="menu.items?.length > 0 ? 'dropdown' : null "
                        [attr.aria-haspopup]="menu.items?.length > 0 ? 'true' : 'false' "
                        [attr.aria-expanded]="menu.items?.length > 0 ? 'false' : 'true' "
                        (click)="menu.items?.length == 0 ? onClickMenuTanpaChild(menu) : 'blank'">

                        <i class="fa fa-cube"></i>&nbsp;{{ menu.text }}
                    </a>
                    <div class="dropdown-menu animation-dropdown-parents" aria-labelledby="dropdown">
                        <div *ngFor="let child of menu.items" class="dropdown dropdown-submenu dropright">
                            <section *ngIf="child.items?.length > 0 ; else HasNoChild">
                                <a class="dropdown-item dropdown" data-toggle="dropdown" style="cursor: pointer;">
                                    <div class="row">
                                        <div class="col-lg-11 col-md-11 col-sm-11 pl-1 m-0">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <i class="fa fa-cube"></i>
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-sm-10">
                                                    {{ child.text }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 p-0 m-0">
                                            <i class="fas fa-chevron-right fa-xs"></i>
                                        </div>
                                    </div>
                                </a>

                                <section class="dropdown dropdown-menu animation-dropdown-child"
                                    *ngIf="child.items?.length > 0">
                                    <div *ngFor="let grandChild of child.items">
                                        <a class="dropdown-item" (click)="onOpenSidebar($event, grandChild)">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1 pl-1">
                                                    <i class="fa fa-cube"></i>
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-sm-10">
                                                    {{ grandChild.text }}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </section>
                            </section>

                            <ng-template #HasNoChild>
                                <a class="dropdown-item dropdown" style="cursor: pointer;"
                                    (click)="onOpenSidebarNoChild($event, child)">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-1 pl-1">
                                            <i class="fa fa-cube"></i>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10">
                                            {{ child.text }}
                                        </div>
                                    </div>
                                </a>
                            </ng-template>

                        </div>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0 pr-5 mr-3">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mr-2" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {{ displayName }}
                        </a>
                        <div class="dropdown-menu animation-dropdown-parents dropdown-menu-user" style="width: 100px;">
                            <a class="dropdown-item dropdown" (click)="openingPage('user-profile')">My Profile</a>
                            <a class="dropdown-item dropdown" (click)="onLogout()">Logout</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </nav>

    <div class="col-lg-12 col-md-12 col-sm-12 p-0 m-0">
        <section id="sidebar">
            <ejs-sidebar #dockBar id="dockSidebar" [enableDock]='enableDock' [width]='width' [dockSize]='dockSize'>
                <div class="dock">
                    <ul class="list-group" *ngFor="let menu of arraySidebarMenu">
                        <li class="sidebar-item list-sidebar py-1 px-4" *ngFor="let sidebarMenu of menu"
                            (click)="openingPage($event, sidebarMenu)">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-2 col-sm-2 pr-0">
                                    <span class="icons fa fa-cube"></span>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10">
                                    <span class="e-text pt-2" title="menu">{{ sidebarMenu.text }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </ejs-sidebar>

            <div class="content" id="main-content">
                <div class="col-lg-12 col-md-12 col-sm-12 pt-2" id="card-router">
                    <div class="card shadow-sm">
                        <div class="card-header bg-white border-title px-2 py-1">
                            <h5 class="card-title mb-0 text-secondary" style="font-size: 15px;">
                                {{ title }}
                            </h5>
                        </div>
                        <div class="card-body px-3 py-2 responsive-height">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div *ngIf="isLoading" class="row justify-content-center">
    <div class="col-lg-5 col-md-5 col-sm-5 text-center" style="margin-top: 25vh">
        <loading-spinner></loading-spinner>
        <h3 style="color: #3f72af">Anda Telah Berhasil Logout</h3>
    </div>
</div>