<tabset>
    <!-- Tab Daftar Order -->
    <tab>
        <ng-template tabHeading>
            <i class="{{ tabHeader[0]['iconCss'] }}"></i> {{ tabHeader[0]['text'] }}
        </ng-template>

        <div class="card mb-2">
            <div class="card-header py-2">
                <h5 class="card-title mb-0">Daftar Order</h5>
            </div>
            <div class="card-body p-0">
                <shared-grid #gridDaftarOrder [grid-id]="gridIdDaftarOrder"
                    [grid-DataSource]="gridDataSourceDaftarOrder" [grid-height]="gridHeightDaftarOrder"
                    [grid-lines]="gridLinesDaftarOrder" [grid-toolbar]="['Search']" [columns]="gridColumnsDaftarOrder"
                    (double-click)="onGridDaftarOrderDoubleClick($event)"
                    (initialized)="onInitializedGridDaftarOrder($event)">
                </shared-grid>
            </div>
        </div>

        <div class="card">
            <div class="card-header py-2">
                <h5 class="card-title mb-0">Detail Order</h5>
            </div>
            <div class="card-body p-0">
                <shared-grid #gridDetailOrder [grid-id]="gridIdDetailOrder"
                    [grid-DataSource]="gridDataSourceDetailOrder" [grid-height]="gridHeightDetailOrder"
                    [grid-lines]="gridLinesDetailOrder" [grid-toolbar]="['Search']" [columns]="gridColumnsDetailOrder"
                    (initialized)="onInitializedGridDetailOrder($event)">
                </shared-grid>
            </div>
        </div>
    </tab>

    <tab>
        <ng-template tabHeading>
            <div (click)="onClickTabOrderRadiologi()">
                <i class="{{ tabHeader[1]['iconCss'] }}"></i> {{ tabHeader[1]['text'] }}
            </div>
        </ng-template>

        <div class="card">
            <!-- Card Header berisi informasi baku dari Pasien -->
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="row">
                            <!-- Nama Pasien -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <h5 class="card-title mb-1">Nama</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">: </h5>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ namaPasien }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- No. Register -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <h5 class="card-title mb-1">No. Reg</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <h5 class="card-title mb-0 color-gray">{{ noRegister }}</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- DPJP -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <h5 class="card-title mb-1">DPJP </h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">: </h5>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ namaDokter.length > 15 ? (namaDokter | slice : 0 : 20) : namaDokter }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="row">
                            <!-- MR NO -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5 class="card-title mb-1">No. RM</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ mrNo }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Gender -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5 class="card-title mb-1">Gender</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ sex }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Tgl Lahir -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5 class="card-title mb-1">Tgl Lahir</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ tglLahir | date: "dd/MM/yyyy "}}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-4">
                        <div class="row">
                            <!-- Umur -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5 class="card-title mb-1">Umur Pasien</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ umur }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Tgl Masuk Rawat -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5 class="card-title mb-1">Tgl Masuk Rawat</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ tglMasukRawat | date: 'dd/MM/yyyy' }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Debitur -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5 class="card-title mb-1">Debitur</h5>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ (debiturName.length > 20) ? (debiturName | slice: 0 : 20) : debiturName}}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Card body berisi tab - tab dinamis -->
            <div class="card-body border-0 p-1">
                <div class="row">
                    <!-- Tombol dan checkbox dinamis -->
                    <div class="col-lg-8 col-md-8 col-sm-8 pr-1 div-dinamis-grid">
                        <div class="card">
                            <div class="card-body p-2">
                                <tabset>
                                    <tab *ngFor="let item of tabTarifRadiologi; let i = index">
                                        <ng-template tabHeading>
                                            <div (click)="onGetTabTarifRadiologiIndex(i)">
                                                <h5 class="tab-tarif-heading">{{ item.Text }}</h5>
                                            </div>
                                        </ng-template>

                                        <div class="row px-3">
                                            <div class="col-lg-5 col-md-5 col-sm-5 button-tarif-div p-3">
                                                <div *ngFor="let buttonPerKelompok of item.Kelompok; let i = index">
                                                    <button class="btn btn-primary btn-block btn-sm mb-2"
                                                        [id]="buttonPerKelompok.KodeKelompok"
                                                        (click)="onShowTarifByButtonPerKelompok(buttonPerKelompok.Tarif, i)">
                                                        {{ buttonPerKelompok.NamaKelompok }}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 button-tarif-div p-3">
                                                <div class="form-check"
                                                    *ngFor="let tarif of tarifPerKelompok; let i = index">
                                                    <div class="row mb-1">
                                                        <!-- Tarif Utama / Checkbox Dynamic Utama -->
                                                        <div class="col-lg-12 col-md-12 col-sm-12 form-check">
                                                            <input [checked]="tarif.checked" class="form-check-input"
                                                                type="checkbox" [id]="tarif.KodeTarif"
                                                                [value]="tarif.NamaTarif"
                                                                (change)="onChangeTarif($event, tarif, i)">

                                                            <label class="form-check-label" for="{{ tarif.KodeTarif }}"
                                                                [style.color]="tarif.HasPosition == 'Y' ? 'blue' : '#333333' ">
                                                                {{ tarif.NamaTarif }}
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <!-- Child dari Tarif Utama / Checkbox Dynamic Utama -->
                                                    <div class="row ms-1 my-1"
                                                        *ngIf="tarif.HasPosition == 'Y' && tarif.checked">
                                                        <!-- Checkbox Position = Left -->
                                                        <div class="col-lg-2 col-md-2 col-sm-2 mb-2 form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                [checked]="tarif.position == 'L' || tarif.position == 'LR'"
                                                                value=" L" id="{{ tarif.KodeTarif }}L"
                                                                (change)="onSetPositionAndWarna(tarif.KodeTarif)">

                                                            <label class="form-check-label"
                                                                for="{{ tarif.KodeTarif }}L">
                                                                Left
                                                            </label>
                                                        </div>

                                                        <!-- Checkbox Position = Right -->
                                                        <div class="col-lg-2 col-md-2 col-sm-2 mb-2 form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                [checked]="tarif.position == 'R' || tarif.position == 'LR'"
                                                                value="R" id="{{ tarif.KodeTarif }}R"
                                                                (change)="onSetPositionAndWarna(tarif.KodeTarif)">

                                                            <label class="form-check-label"
                                                                for="{{ tarif.KodeTarif }}R">
                                                                Right
                                                            </label>
                                                        </div>

                                                        <!-- Radio Button Warna = Polos -->
                                                        <div class="col-lg-2 col-md-2 col-sm-2 mb-2">
                                                            <div class="form-check form-switch">
                                                                <input type="checkbox" class="form-check-input"
                                                                    [checked]="tarif.warna == 'P' || tarif.warna == 'PK'"
                                                                    name="Warna" id="{{ tarif.KodeTarif }}P" value="P"
                                                                    (change)="onSetPositionAndWarna(tarif.KodeTarif)">

                                                                <label class="form-check-label"
                                                                    for="{{ tarif.KodeTarif }}P">
                                                                    Polos
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <!-- Radio Button Warna = Kontras -->
                                                        <div class="col-lg-2 col-md-2 col-sm-2 mb-2">
                                                            <div class="form-check form-switch">
                                                                <input type="checkbox" class="form-check-input"
                                                                    [checked]="tarif.warna == 'K' || tarif.warna == 'PK'"
                                                                    name="Warna" id="{{ tarif.KodeTarif }}K" value="K"
                                                                    (change)="onSetPositionAndWarna(tarif.KodeTarif)">

                                                                <label class="form-check-label"
                                                                    for="{{ tarif.KodeTarif }}K">
                                                                    Kontras
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>

                    <!-- Mumet wkwk baca bawah nya -->
                    <div class="col-lg-4 col-md-4 col-sm-4 pl-1 div-grid-order">
                        <div class="card">
                            <div class="card-body p-2">
                                <!-- Button Input dan Pilih Diagnosa -->
                                <div class="row justify-content-between mb-2">
                                    <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                                        <!-- Button Untuk Menampilkan Dialog Input Diagnosa -->
                                        <button class="btn btn-primary btn-sm"
                                            (click)="onOpenModal(templateDialogInputDiagnosa)">
                                            Input Diagnosa
                                        </button>

                                        <!-- Nah ini dialog Input Diagnosa nya -->
                                        <ng-template #templateDialogInputDiagnosa>
                                            <div class="modal-content" id="DialogInputDiagnosa">
                                                <form [formGroup]="formInputDiagnosa">
                                                    <div class="modal-header px-2 py-1 bg-light">
                                                        <h4 class="modal-title pull-left">Input Diagnosa</h4>
                                                        <button type="button" class="close pull-right"
                                                            aria-label="Close" (click)="modalRef.hide()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body p-1">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 px-2">
                                                            <!-- Subjective -->
                                                            <div class="mb-2">
                                                                <label for="SoapS" class="form-label">Subjective</label>
                                                                <textarea type="text" class="form-control" id="SoapS"
                                                                    rows="2" formControlName="SoapSubjective">
                                                            </textarea>
                                                            </div>

                                                            <!-- Objective -->
                                                            <div class="mb-2">
                                                                <label for="SoapO" class="form-label">Objective</label>
                                                                <textarea type="text" class="form-control" id="SoapO"
                                                                    rows="2" formControlName="SoapObjective">
                                                            </textarea>
                                                            </div>

                                                            <!-- Assesment -->
                                                            <div class="mb-2">
                                                                <label for="SoapO" class="form-label">Assesment</label>
                                                                <div class="form-row mb-2">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                                                        <input type="text" class="form-control"
                                                                            [id]="'KodeDiagnosaAwal'" readonly
                                                                            placeholder="Kode Diagnosa Awal"
                                                                            formControlName="DiagnosaIcdAwal">
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control"
                                                                                [id]="'NamaDiagnosaAwal'" readonly
                                                                                placeholder="Nama Diagnosa Awal">

                                                                            <app-shared-lookup
                                                                                [modal-id]="'modalDiagnosa'"
                                                                                [modal-title]="'Data Diagnosa'"
                                                                                [modal-button]="modalButtonLookup"
                                                                                [column-items]="modalColumnsItemLookup"
                                                                                [filter-lookup]="modalFiltersItemLookup"
                                                                                [lookup-url]="modalUrlLookup"
                                                                                (onOpenModal)="onOpenLookup($event)"
                                                                                (onGetSelectedData)="onGetSelectedDiagnosa($event)">
                                                                            </app-shared-lookup>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <textarea type="text" class="form-control" id="SoapA"
                                                                    placeholder="Catatan" rows="2"
                                                                    formControlName="SoapAssesment">
                                                            </textarea>
                                                            </div>

                                                            <!-- Plan -->
                                                            <div class="mb-2">
                                                                <label for="SoapO" class="form-label">Plan</label>
                                                                <textarea type="text" class="form-control" id="SoapP"
                                                                    rows="2" formControlName="SoapPlan">
                                                            </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer text-right">
                                                        <button type="button" class="btn btn-primary btn-sm"
                                                            (click)="onSubmitFormInputDiagnosa(formInputDiagnosa.value)">
                                                            Simpan
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-sm"
                                                            (click)="onCloseModal(formInputDiagnosa)">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </ng-template>

                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                                        <!-- Button Untuk Menampilkan Dialog Pilih Diagnosa -->
                                        <button class="btn btn-success btn-sm"
                                            (click)="onOpenModal(templateDialogPilihDiagnosa)">
                                            Pilih Diagnosa
                                        </button>

                                        <!-- Nah ini dialog Pilih Diagnosa nya -->
                                        <ng-template #templateDialogPilihDiagnosa>
                                            <div class="modal-content" id="DialogPilihDiagnosa">
                                                <div class="modal-header px-2 py-1 bg-light">
                                                    <h4 class="modal-title pull-left">Pilih Diagnosa</h4>
                                                    <button type="button" class="close pull-right" aria-label="Close"
                                                        (click)="modalRef.hide()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body p-1">
                                                    <shared-grid #gridDiagnosa [grid-id]="gridIdDiagnosa"
                                                        [grid-DataSource]="gridDataSourceDiagnosa"
                                                        [grid-height]="gridHeightDiagnosa"
                                                        [grid-lines]="gridLinesDiagnosa" [columns]="gridColumnsDiagnosa"
                                                        [grid-selectionSettings]="gridSelectionDiagnosa"
                                                        (initialized)="onInitializedGridDiagnosa($event)"
                                                        (row-selected)="onSelectingGridDiagnosa($event)">
                                                    </shared-grid>
                                                </div>
                                            </div>
                                            <div class="modal-footer text-right">
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="onSubmitGridDiagnosa(gridDiagnosa)">
                                                    Simpan
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm"
                                                    (click)="modalRef.hide()">
                                                    Cancel
                                                </button>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>

                                <form [formGroup]="formOrderRadiologi"
                                    (ngSubmit)="onSubmitFormOrderRadiologi(formOrderRadiologi.value)">
                                    <!-- Input Field -->
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <!-- Keterangan Klinik Penderita -->
                                            <div class="mb-2">
                                                <label for="SoapS" class="form-label">
                                                    Keterangan Klinik Penderita :
                                                </label>
                                                <textarea type="text" class="form-control" formControlName="Note"
                                                    rows="1">
                                                </textarea>
                                            </div>

                                            <!-- Catatan -->
                                            <div class="mb-2">
                                                <label for="SoapS" class="form-label">
                                                    Catatan :
                                                </label>
                                                <textarea type="text" class="form-control" formControlName="NoteSample"
                                                    rows="1">
                                                </textarea>
                                            </div>

                                            <!-- Dokter Peminta -->
                                            <div class="mb-2">
                                                <label for="SoapS" class="form-label">
                                                    Dokter Peminta :
                                                </label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" formControlName="KodeDokter"
                                                        readonly hidden placeholder="Pilih Dokter Peminta">

                                                    <input type="text" class="form-control" [id]="'NamaDokter'" readonly
                                                        placeholder="Pilih Dokter Peminta">

                                                    <app-shared-lookup [modal-id]="'modalDokter'"
                                                        [modal-title]="'Data Dokter'" [modal-button]="modalButtonLookup"
                                                        [column-items]="modalColumnsItemLookup"
                                                        [filter-lookup]="modalFiltersItemLookup"
                                                        [lookup-url]="modalUrlLookup"
                                                        (onOpenModal)="onOpenLookup($event)"
                                                        (onGetSelectedData)="onGetSelectedDokterPeminta($event)">
                                                    </app-shared-lookup>
                                                </div>
                                            </div>

                                            <!-- Daftar Order -->
                                            <div class="mb-2">
                                                <div class="card">
                                                    <div class="card-header px-2 py-1">
                                                        <label class="card-title mb-0 pt-1">
                                                            Daftar Order
                                                        </label>

                                                        <span class="badge bg-primary text-white mt-1 pull-right"
                                                            (click)="onOpenModal(templateDialogPemeriksaanLainLain)">
                                                            Lain - lain
                                                        </span>

                                                    </div>
                                                    <div class="card-body p-0">
                                                        <!-- Grid Daftar Order -->
                                                        <shared-grid #gridOrderRad [grid-id]="gridIdOrderRad"
                                                            [grid-DataSource]="gridDataSourceOrderRad"
                                                            [grid-height]="gridHeightOrderRad"
                                                            [grid-lines]="gridLinesOrderRad"
                                                            [columns]="gridColumnsOrderRad"
                                                            (initialized)="onInitializedGridOrderRad($event)">
                                                        </shared-grid>
                                                    </div>
                                                </div>

                                                <ng-template #templateDialogPemeriksaanLainLain>
                                                    <div class="modal-content" id="DialogInputDiagnosa">
                                                        <div class="modal-header px-2 py-1 bg-light">
                                                            <h4 class="modal-title pull-left">
                                                                Pemeriksaan Lain - Lain
                                                            </h4>
                                                            <button type="button" class="close pull-right"
                                                                aria-label="Close" (click)="modalRef.hide()">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body p-1">
                                                            <div class="row px-2 mb-2">
                                                                <!-- Nama Pemeriksaan Label -->
                                                                <div class="col-lg-5 col-md-5 col-sm-5">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <label for="NamaPemeriksaan"
                                                                                class="form-label">
                                                                                Nama Pemeriksaan :
                                                                            </label>

                                                                            <input type="text" class="form-control"
                                                                                [id]="'KodeTarifPemeriksaan'" hidden
                                                                                readonly>

                                                                            <input type="text" class="form-control"
                                                                                [id]="'NamaPemeriksaanLain'"
                                                                                [autocomplete]="'off'"
                                                                                [placeholder]="'Nama Pemeriksaan'">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Catatan Label -->
                                                                <div class="col-lg-5 col-md-5 col-sm-5">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                                            <label for="CatatanPemeriksaanLain"
                                                                                class="form-label">
                                                                                Catatan :
                                                                            </label>

                                                                            <input type="text" class="form-control"
                                                                                [id]="'CatatanPemeriksaanLain'"
                                                                                [autocomplete]="'off'"
                                                                                [placeholder]="'Catatan'">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Button Tambah -->
                                                                <div class="col-lg-2 col-md-2 col-sm-2">
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12"
                                                                            style="padding-top: 2em">
                                                                            <button class="btn btn-primary btn-sm"
                                                                                type="button"
                                                                                (click)="onAddPemeriksaanLainLain()">
                                                                                <i class="fas fa-plus"></i> Tambah
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row px-2">
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <shared-grid #gridPemeriksaan
                                                                        [grid-id]="gridIdPemeriksaan"
                                                                        [grid-DataSource]="gridDataSourcePemeriksaan"
                                                                        [grid-height]="gridHeightPemeriksaan"
                                                                        [grid-lines]="gridLinesPemeriksaan"
                                                                        [columns]="gridColumnsPemeriksaan"
                                                                        (initialized)="onInitializedGridPemeriksaan($event)">
                                                                    </shared-grid>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer text-right">
                                                            <button type="button" class="btn btn-primary btn-sm"
                                                                (click)="onSubmitDialogPemeriksaanLainLain()">
                                                                Simpan
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-sm"
                                                                (click)="onCloseDialogPemeriksaanLain()">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </div>

                                            <!-- Button Simpan dan Reset -->
                                            <div class="mb-2">
                                                <div class="d-grid gap-2 d-md-block text-right">
                                                    <button class="btn btn-primary btn-sm mr-2" type="submit">
                                                        Simpan
                                                    </button>
                                                    <button class="btn btn-warning btn-sm" type="button">
                                                        Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>