<input type="text" class="form-control" [id]="SelectedInputId" readonly>

<button type="button" class="btn btn-sm btn-primary" [id]="buttonLookup" (click)="onOpenModal(template, modalId)"
    [hidden]="isButtonHidden">
    {{ modalButton }}
</button>

<ng-template #template>
    <div class="modal-content" id="{{ modalId }}">
        <div class="modal-header px-2 py-1 bg-light">
            <h5 class="modal-title pull-left">{{ modalTitle }}</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-1">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm 12">
                    <h5 class="card-title mb-1">Cari :</h5>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <shared-filters [filters]="filters" (onChangeFilters)="onChangeFilters($event)"></shared-filters>
                </div>
            </div>

            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #searchValueId class="form-control" id="searchValueId"
                        (keydown.enter)="onSearchLookup(searchValueId.value)">
                </div>
            </div>

            <div class="row mx-0 my-2">
                <div class="col-lg-12 col-md-12 col-sm 12">
                    <shared-grid [grid-id]="gridId" [grid-width]="gridWidth" [grid-height]="gridHeight"
                        [grid-DataSource]="gridDataSource" [grid-lines]="gridLines" [columns]="columnItems"
                        [grid-paging]="gridPaging" [grid-initial-page]="gridPageSettings"
                        (row-selected)="onRowSelected($event)" (enter-pressed)="onKeyPressed($event)"
                        (double-click)="onDoubleClicked($event)">
                    </shared-grid>
                </div>
            </div>

        </div>
    </div>
</ng-template>