<form [formGroup]="formSetupPasien" (ngSubmit)="onSubmitForm(formSetupPasien.value)">
    <tabset>
        <!-- Tab Pasien -->
        <tab>
            <ng-template tabHeading>
                <i class="{{ tabHeader[0]['iconCss'] }}"></i> {{ tabHeader[0]['text'] }}
            </ng-template>

            <div class="row justify-content-center py-2">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- Mr No -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="MrNo"> No. Mr </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="MrNo">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="Pasien">
                                    <input type="text" class="form-control" readonly formControlName="MrNo" id="MrNo">

                                    <div *ngIf="MrNo.touched && MrNo.invalid" class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="MrNo.errors.required">
                                            No. Mr Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Nama Pasien -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="FirstName">Nama Pasien</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="FirstName">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="text" class="form-control" formControlName="FirstName" id="FirstName">

                                    <div *ngIf="FirstName.touched && FirstName.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="FirstName.errors.required">
                                            Nama Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sex -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Sex">Sex</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Sex">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <ejs-combobox formControlName="Sex" [dataSource]='dataSex'
                                        (change)="onChangeSex($event)" [fields]='fieldsSex'
                                        placeholder='Pilih Jenis Kelamin' popupHeight='250px'>
                                    </ejs-combobox>

                                    <div *ngIf="Sex.touched && Sex.invalid" class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Sex.errors.required">
                                            Sex Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Agama -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Sex">Agama</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Sex">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" formControlName="Agama" id="Agama"
                                            readonly hidden>

                                        <input type="text" class="form-control" #AgamaText readonly>

                                        <app-shared-lookup [modal-id]="'modalAgama'" [modal-title]="'Data Agama'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookupAgama"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataAgama($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="Agama.touched && Agama.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Agama.errors.required">
                                            Agama Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tempat Lahir -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="TemplatLahir">Tempat Lahir</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="TemplatLahir">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="text" class="form-control" formControlName="TemplatLahir"
                                        id="TemplatLahir">

                                    <div *ngIf="TemplatLahir.touched && TemplatLahir.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="TemplatLahir.errors.required">
                                            Tempat Lahir Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tanggal Lahir -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="TanggalLahir">Tanggal Lahir</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="TanggalLahir">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <ejs-datepicker id="TanggalLahir" formControlName="TanggalLahir"
                                                [format]="'dd MMMM yyyy'" (change)="onChangeTanggalLahir($event)">
                                            </ejs-datepicker>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 pr-2">
                                                    <label for="Tahun" class="mb-1">Tahun</label>
                                                    <input type="text" class="form-control" readonly #TahunPasien>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 px-2">
                                                    <label for="Tahun" class="mb-1">Bulan</label>
                                                    <input type="text" class="form-control" readonly #BulanPasien>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 pl-2">
                                                    <label for="Tahun" class="mb-1">Hari</label>
                                                    <input type="text" class="form-control" readonly #HariPasien>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="TanggalLahir.touched && TanggalLahir.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="TanggalLahir.errors.required">
                                            Tanggal Lahir Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Status Perkawinan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="MaritalStatus">Status Perkawinan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="MaritalStatus">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" formControlName="MaritalStatus"
                                            id="MaritalStatus" readonly hidden>

                                        <input type="text" class="form-control" #MaritalStatusText readonly>

                                        <app-shared-lookup [modal-id]="'modalMarital'"
                                            [modal-title]="'Data Status Perkawinan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupMarital" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataMarital($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="MaritalStatus.touched && MaritalStatus.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="MaritalStatus.errors.required">
                                            Status Perkawinan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pendidikan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KodePendidikan">Pendidikan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KodePendidikan">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group" formGroupName="Pendidikan">
                                        <input type="text" class="form-control" formControlName="KodePendidikan"
                                            id="KodePendidikan" hidden readonly>

                                        <input type="text" class="form-control" #KodePendidikanText
                                            id="KodePendidikanText" readonly>

                                        <app-shared-lookup [modal-id]="'modalPendidikan'"
                                            [modal-title]="'Data Pendidikan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupPendidikan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataPendidikan($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KodePendidikan.touched && KodePendidikan.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KodePendidikan.errors.required">
                                            Pendidikan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pekerjaan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KodePekerjaan">Pekerjaan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KodePekerjaan">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group" formGroupName="Pekerjaan">
                                        <input type="text" class="form-control" formControlName="KodePekerjaan"
                                            id="KodePekerjaan" hidden readonly>

                                        <input type="text" class="form-control" #KodePekerjaanText
                                            id="KodePekerjaanText" readonly>

                                        <app-shared-lookup [modal-id]="'modalPekerjaan'"
                                            [modal-title]="'Data Pekerjaan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupPekerjaan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataPekerjaan($event, 'modalPekerjaan')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KodePekerjaan.touched && KodePekerjaan.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KodePekerjaan.errors.required">
                                            Pekerjaan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Golongan Darah -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="GolDarah">Gol. Darah</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="GolDarah">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <ejs-combobox formControlName="GolDarah" [dataSource]='dataGolDarah'
                                        [fields]='fieldsGolDarah' (change)="onChangeGolDarah($event)"
                                        placeholder='Pilih Golongan Darah' popupHeight='250px'>
                                    </ejs-combobox>

                                    <div *ngIf="GolDarah.touched && GolDarah.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="GolDarah.errors.required">
                                            Gol. Darah Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- Keterbatasan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="IdKeterbatasanFisik">Keterbatasan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="IdKeterbatasanFisik">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="Keterbatasan">
                                    <ejs-combobox formControlName="IdKeterbatasanFisik" [dataSource]='dataKeterbatasan'
                                        [fields]='fieldsKeterbatasan' placeholder='Apakah Memiliki Keterbatasan Fisik?'
                                        popupHeight='250px'>
                                    </ejs-combobox>

                                    <div *ngIf="IdKeterbatasanFisik.touched && IdKeterbatasanFisik.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="IdKeterbatasanFisik.errors.required">
                                            Keterbatasan Fisik Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Alamat-->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Alamat"> Alamat </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Alamat">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="PasienAddress">
                                    <textarea type="text" class="form-control" formControlName="Alamat" id="Alamat"
                                        rows="3"></textarea>

                                    <div *ngIf="Alamat.touched && Alamat.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Alamat.errors.required">
                                            Alamat Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RT dan RW-->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Alamat"> RT / RW </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Alamat">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="PasienAddress">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 pr-2">
                                            <input type="text" class="form-control" formControlName="Rt" id="Rt">

                                            <div *ngIf="Rt.touched && Rt.invalid"
                                                class="alert alert-danger p-1 mt-1 mb-0">
                                                <div *ngIf="Rt.errors.required">
                                                    RT Tidak Boleh Kosong
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 pl-2">
                                            <input type="text" class="form-control" formControlName="Rw" id="Rw">

                                            <div *ngIf="Rw.touched && Rw.invalid"
                                                class="alert alert-danger p-1 mt-1 mb-0">
                                                <div *ngIf="Rw.errors.required">
                                                    RW Tidak Boleh Kosong
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Provinsi -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Provinsi">Provinsi</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Provinsi">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group" formGroupName="PasienAddress">
                                        <input type="text" class="form-control" #ProvinsiText readonly>

                                        <input type="text" class="form-control" formControlName="Provinsi" id="Provinsi"
                                            readonly hidden>

                                        <app-shared-lookup [modal-id]="'modalProvinsi'" [modal-title]="'Data Provinsi'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupProvinsi" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataProvinsi($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="Provinsi.touched && Provinsi.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Provinsi.errors.required">
                                            Provinsi Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kota -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Kota">Kab / Kota</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Kota">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="PasienAddress">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #KotaText readonly>

                                        <input type="text" class="form-control" formControlName="Kota" id="Kota"
                                            readonly hidden>

                                        <app-shared-lookup [modal-id]="'modalKota'" [modal-title]="'Data Kota'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookupKota"
                                            [static-filter]="modalStaticFilterLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKota($event, 'modalKota')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="Kota.touched && Kota.invalid" class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Kota.errors.required">
                                            Kota Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kecamatan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Kecamatan">Kecamatan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Kecamatan">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="PasienAddress">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #KecamatanText readonly>

                                        <input type="text" class="form-control" formControlName="Kecamatan"
                                            id="Kecamatan" readonly hidden>

                                        <app-shared-lookup [modal-id]="'modalKecamatan'"
                                            [modal-title]="'Data Kecamatan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [static-filter]="modalStaticFilterLookup"
                                            [lookup-url]="modalUrlLookupKecamatan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKecamatan($event, 'modalKecamatan')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="Kecamatan.touched && Kecamatan.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Kecamatan.errors.required">
                                            Kecamatan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kelurahan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Kelurahan">Kelurahan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Kelurahan">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="PasienAddress">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #KelurahanText readonly>

                                        <input type="text" class="form-control" formControlName="Kelurahan"
                                            id="Kelurahan" readonly hidden>

                                        <app-shared-lookup [modal-id]="'modalKelurahan'"
                                            [modal-title]="'Data Kelurahan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [static-filter]="modalStaticFilterLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupKelurahan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKelurahan($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="Kelurahan.touched && Kelurahan.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Kelurahan.errors.required">
                                            Kelurahan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kode Pos -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KodePos"> Kode Pos </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KodePos">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="PasienAddress">
                                    <input type="text" class="form-control" formControlName="KodePos" id="KodePos">

                                    <div *ngIf="KodePos.touched && KodePos.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KodePos.errors.required">
                                            Kode Pos Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Telepon -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Telepon"> Telepon </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Telepon">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="text" class="form-control" formControlName="Telp" id="Telepon">

                                    <div *ngIf="Telp.touched && Telp.invalid" class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Telp.errors.required">
                                            Telepon Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Handphone -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Handphone"> Handphone </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Handphone">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="text" class="form-control" formControlName="Hp" id="Handphone">

                                    <div *ngIf="Hp.touched && Hp.invalid" class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Hp.errors.required">
                                            No. Hp Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <!-- Tab Info -->
        <tab>
            <ng-template tabHeading>
                <i class="{{ tabHeader[1]['iconCss'] }}"></i> {{ tabHeader[1]['text'] }}
            </ng-template>

            <div class="row justify-content-center py-2">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- Jenis Id Card -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KodeJenisKartu">Jenis Id Card</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KodeJenisKartu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="KartuIdentitas">

                                    <div class="input-group">
                                        <input type="text" class="form-control" #KodeJenisKartuText readonly>

                                        <input type="text" class="form-control" formControlName="KodeJenisKartu"
                                            id="KodeJenisKartu" readonly hidden>

                                        <app-shared-lookup [modal-id]="'modalJenisKartu'"
                                            [modal-title]="'Data Jenis Kartu'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupJenisKartu" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataJenisKartu($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KodeJenisKartu.touched && KodeJenisKartu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KodeJenisKartu.errors.required">
                                            Jenis Id Card Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- No Id Card -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="NomorKartu"> No. Id Card </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="NomorKartu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="KartuIdentitas">
                                    <input type="text" class="form-control" formControlName="NomorKartu"
                                        id="NomorKartu">

                                    <div *ngIf="NomorKartu.touched && NomorKartu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="NomorKartu.errors.required">
                                            No. Id Card Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Suku -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="EthnicCode">Suku</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="EthnicCode">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #EthnicCodeText readonly>

                                        <input type="text" class="form-control" formControlName="EthnicCode"
                                            id="EthnicCode" readonly hidden>

                                        <app-shared-lookup [modal-id]="'modalSuku'" [modal-title]="'Data Suku'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookupSuku"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataSuku($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="EthnicCode.touched && EthnicCode.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="EthnicCode.errors.required">
                                            Suku Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kebangsaan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="NatCode">Kebangsaan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="NatCode">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #NatCodeText readonly>

                                        <input type="text" class="form-control" formControlName="NatCode" id="NatCode"
                                            readonly hidden>

                                        <app-shared-lookup [modal-id]="'modalKebangsaan'"
                                            [modal-title]="'Data Kebangsaan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupKebangsaan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKebangsaan($event)">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="EthnicCode.touched && EthnicCode.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="EthnicCode.errors.required">
                                            Suku Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bahasa -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="IdBahasa">Bahasa</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="IdBahasa">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <ejs-combobox formControlName="IdBahasa" [dataSource]='dataBahasa'
                                        [fields]='fieldsBahasa' (change)="onChangeBahasa($event)"
                                        placeholder='Pilih Bahasa' popupHeight='250px'>
                                    </ejs-combobox>

                                    <div *ngIf="IdBahasa.touched && IdBahasa.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="IdBahasa.errors.required">
                                            Bahasa Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- Keluarga Yang Dapat Dihubungi -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="NamaSuamiIstri"> Kontak Keluarga </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="NamaSuamiIstri">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="Keluarga">
                                    <textarea type="text" class="form-control" formControlName="NamaSuamiIstri"
                                        id="NamaSuamiIstri" rows="3"></textarea>

                                    <div *ngIf="NamaSuamiIstri.touched && NamaSuamiIstri.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="NamaSuamiIstri.errors.required">
                                            Kontak Keluarga Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Telp / Hp -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="TelpKeluarga"> No. Telp / No. Hp </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="TelpKeluarga">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="Keluarga">
                                    <input type="text" class="form-control" formControlName="TelpKeluarga"
                                        id="TelpKeluarga">

                                    <div *ngIf="TelpKeluarga.touched && TelpKeluarga.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="TelpKeluarga.errors.required">
                                            Telp Keluarga Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Anak Ke -->
                    <div class="row mb-2 ">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="AnakKe"> Anak Ke </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="AnakKe">:</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" formGroupName="Keluarga">
                                    <input type="text" class="form-control" formControlName="AnakKe" id="AnakKe">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 px-0 text-center">
                                    <label for="Dari">Dari :</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" formGroupName="Keluarga">
                                    <input type="text" class="form-control" formControlName="Dari" id="Dari">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Akte Kelahiran -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="AkteLahir"> Akte Kelahiran </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="AkteLahir">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8" formGroupName="Keluarga">
                                    <input type="text" class="form-control" formControlName="AkteLahir" id="AkteLahir">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <!-- Tab Data Orang Tua -->
        <tab>
            <ng-template tabHeading>
                <i class="{{ tabHeader[2]['iconCss'] }}"></i> {{ tabHeader[2]['text'] }}
            </ng-template>

            <div class="row justify-content-center py-2">
                <div class="col-lg-6 col-md-6 col-sm-6" formGroupName="Ayah">
                    <!-- Nama Ayah -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="NamaOrtuAyah">Nama Ayah</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="NamaOrtuAyah">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="text" class="form-control" formControlName="NamaOrtuAyah"
                                        id="NamaOrtuAyah">

                                    <div *ngIf="NamaOrtuAyah.touched && NamaOrtuAyah.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="NamaOrtuAyah.errors.required">
                                            Nama Ayah Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tanggal Lahir Ayah -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="TglLahirOrtuAyah">Tanggal Lahir</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="TglLahirOrtuAyah">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <ejs-datepicker id="TglLahirOrtuAyah" formControlName="TglLahirOrtuAyah"
                                                [format]="'dd MMMM yyyy'" (change)="onChangeTanggalLahir($event)">
                                            </ejs-datepicker>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 pr-2">
                                                    <label for="Tahun" class="mb-1">Tahun</label>
                                                    <input type="text" class="form-control" readonly #TahunAyah>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 px-2">
                                                    <label for="Tahun" class="mb-1">Bulan</label>
                                                    <input type="text" class="form-control" readonly #BulanAyah>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 pl-2">
                                                    <label for="Tahun" class="mb-1">Hari</label>
                                                    <input type="text" class="form-control" readonly #HariAyah>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="TglLahirOrtuAyah.touched && TglLahirOrtuAyah.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="TglLahirOrtuAyah.errors.required">
                                            Tanggal Lahir Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Alamat-->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="AlamatOrtuAyah"> Alamat </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="AlamatOrtuAyah">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <textarea type="text" class="form-control" formControlName="AlamatOrtuAyah"
                                        id="AlamatOrtuAyah" rows="2"></textarea>

                                    <div *ngIf="AlamatOrtuAyah.touched && AlamatOrtuAyah.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="AlamatOrtuAyah.errors.required">
                                            Alamat Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kota -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="Kota">Kab / Kota</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="Kota">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #KotaOrtuAyahText readonly>

                                        <input type="text" class="form-control" formControlName="KotaOrtuAyah"
                                            id="KotaOrtuAyah" hidden readonly>

                                        <app-shared-lookup [modal-id]="'modalKotaAyah'" [modal-title]="'Data Kota'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookupKota"
                                            [static-filter]="modalStaticFilterLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKota($event, 'modalKotaAyah')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="Kota.touched && Kota.invalid" class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="Kota.errors.required">
                                            Kota Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kecamatan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KecamatanOrtuAyah">Kecamatan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KecamatanOrtuAyah">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #KecamatanOrtuAyahText readonly>

                                        <input type="text" class="form-control" formControlName="KecamatanOrtuAyah"
                                            id="KecamatanOrtuAyah" hidden readonly>

                                        <app-shared-lookup [modal-id]="'modalKecamatanAyah'"
                                            [modal-title]="'Data Kecamatan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [static-filter]="modalStaticFilterLookup"
                                            [lookup-url]="modalUrlLookupKecamatan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKecamatan($event, 'modalKecamatanAyah')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KecamatanOrtuAyah.touched && KecamatanOrtuAyah.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KecamatanOrtuAyah.errors.required">
                                            Kecamatan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pekerjaan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KodePekerjaanOrtuAyah">Pekerjaan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KodePekerjaanOrtuAyah">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" formControlName="KodePekerjaanOrtuAyah"
                                            id="KodePekerjaanOrtuAyah" hidden readonly>

                                        <input type="text" class="form-control" #KodePekerjaanOrtuAyahText
                                            id="KodePekerjaanOrtuAyahText" readonly>

                                        <app-shared-lookup [modal-id]="'modalPekerjaanAyah'"
                                            [modal-title]="'Data Pekerjaan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupPekerjaan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataPekerjaan($event, 'modalPekerjaanAyah')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KodePekerjaanOrtuAyah.touched && KodePekerjaanOrtuAyah.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KodePekerjaanOrtuAyah.errors.required">
                                            Pekerjaan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" formGroupName="Ibu">
                    <!-- Nama Ibu -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="NamaOrtuIbu">Nama Ibu</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="NamaOrtuIbu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <input type="text" class="form-control" formControlName="NamaOrtuIbu"
                                        id="NamaOrtuIbu">

                                    <div *ngIf="NamaOrtuIbu.touched && NamaOrtuIbu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="NamaOrtuIbu.errors.required">
                                            Nama Ibu Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tanggal Lahir Ibu -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="TglLahirOrtuIbu">Tanggal Lahir</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="TglLahirOrtuIbu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <ejs-datepicker id="TglLahirOrtuIbu" formControlName="TglLahirOrtuIbu"
                                                [format]="'dd MMMM yyyy'" (change)="onChangeTanggalLahir($event)">
                                            </ejs-datepicker>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 pr-2">
                                                    <label for="Tahun" class="mb-1">Tahun</label>
                                                    <input type="text" class="form-control" readonly #TahunIbu>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 px-2">
                                                    <label for="Tahun" class="mb-1">Bulan</label>
                                                    <input type="text" class="form-control" readonly #BulanIbu>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 pl-2">
                                                    <label for="Tahun" class="mb-1">Hari</label>
                                                    <input type="text" class="form-control" readonly #HariIbu>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="TglLahirOrtuIbu.touched && TglLahirOrtuIbu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="TglLahirOrtuIbu.errors.required">
                                            Tanggal Lahir Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Alamat-->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="AlamatOrtuIbu"> Alamat </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="AlamatOrtuIbu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <textarea type="text" class="form-control" formControlName="AlamatOrtuIbu"
                                        id="AlamatOrtuIbu" rows="2"></textarea>

                                    <div *ngIf="AlamatOrtuIbu.touched && AlamatOrtuIbu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="AlamatOrtuIbu.errors.required">
                                            Alamat Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kota -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KotaOrtuIbu">Kab / Kota</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KotaOrtuIbu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #KotaOrtuIbuText readonly>

                                        <input type="text" class="form-control" formControlName="KotaOrtuIbu"
                                            id="KotaOrtuIbu" hidden readonly>

                                        <app-shared-lookup [modal-id]="'modalKotaIbu'" [modal-title]="'Data Kota'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookupKota"
                                            [static-filter]="modalStaticFilterLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKota($event, 'modalKotaIbu')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KotaOrtuIbu.touched && KotaOrtuIbu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KotaOrtuIbu.errors.required">
                                            Kota Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Kecamatan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KecamatanOrtuAIbu">Kecamatan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KecamatanOrtuAIbu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" #KecamatanOrtuIbuText hidden readonly>

                                        <input type="text" class="form-control" formControlName="KecamatanOrtuIbu"
                                            id="KecamatanOrtuIbu" readonly>

                                        <app-shared-lookup [modal-id]="'modalKecamatanIbu'"
                                            [modal-title]="'Data Kecamatan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [static-filter]="modalStaticFilterLookup"
                                            [lookup-url]="modalUrlLookupKecamatan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKecamatan($event, 'modalKecamatanIbu')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KecamatanOrtuIbu.touched && KecamatanOrtuIbu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KecamatanOrtuIbu.errors.required">
                                            Kecamatan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pekerjaan -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="KodePekerjaanOrtuIbu">Pekerjaan</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="KodePekerjaanOrtuIbu">:</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8">

                                    <div class="input-group ">
                                        <input type="text" class="form-control" formControlName="KodePekerjaanOrtuIbu"
                                            id="KodePekerjaanOrtuIbu" hidden readonly>

                                        <input type="text" class="form-control" #KodePekerjaanOrtuIbuText
                                            id="KodePekerjaanOrtuIbuText" readonly>

                                        <app-shared-lookup [modal-id]="'modalPekerjaanIbu'"
                                            [modal-title]="'Data Pekerjaan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup"
                                            [lookup-url]="modalUrlLookupPekerjaan" (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataPekerjaan($event, 'modalPekerjaanIbu')">
                                        </app-shared-lookup>
                                    </div>

                                    <div *ngIf="KodePekerjaanOrtuIbu.touched && KodePekerjaanOrtuIbu.invalid"
                                        class="alert alert-danger p-1 mt-1 mb-0">
                                        <div *ngIf="KodePekerjaanOrtuIbu.errors.required">
                                            Pekerjaan Tidak Boleh Kosong
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
            <button class="btn btn-primary btn-sm" type="submit">
                Submit Data Pasien
            </button>
        </div>
    </div>
</form>