<form [formGroup]="formAdmisiPasien" #formDir="ngForm" (ngSubmit)="onSubmitForm(formAdmisiPasien)">
    <div class="row mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- No Register  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="NoRegister"> No. Register </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="NoRegister">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="NoRegister" id="NoRegister"
                                readonly>

                            <div *ngIf="NoRegister.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="NoRegister.errors?.serverError">
                                    {{ NoRegister.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- No Mr  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="NoRegister"> No. Mr </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="NoRegister">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="input-group ">
                                <!-- <input type="text" class="form-control" formControlName="MrNo" id="MrNo" readonly> -->

                                <app-shared-lookup [modal-id]="'modalPasien'" [modal-title]="'Data Pasien'"
                                    [SelectedInputId]="'MrNo'" [modal-button]="modalButtonLookup"
                                    [column-items]="modalColumnsItemLookup" [filter-lookup]="modalFiltersItemLookup"
                                    [lookup-url]="modalUrlLookup" (onOpenModal)="onOpenLookup($event)"
                                    (onGetSelectedData)="onGetSelectedDataPasien($event)">
                                </app-shared-lookup>

                                <div *ngIf="MrNo.invalid && formDir.submitted" class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="MrNo.invalid && formDir.submitted">
                                        Mr No Tidak Boleh Kosong
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nama Pasien  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="NamaPasien"> Nama Pasien </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="NamaPasien">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="NamaPasien" id="NamaPasien"
                                readonly>

                            <div *ngIf="NamaPasien.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="NamaPasien.errors?.serverError">
                                    {{ NamaPasien.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tanggal Masuk -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="TglMasukRawat">Tanggal Masuk</label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="TglMasukRawat">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <ejs-datepicker id="TglMasukRawat" formControlName="TglMasukRawat"
                                [format]="'dd MMMM yyyy'">
                            </ejs-datepicker>

                            <div *ngIf="TglMasukRawat.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="TglMasukRawat.errors?.serverError">
                                    {{ TglMasukRawat.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nama Unit -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="NamaUnit">Unit</label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="NamaUnit">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" #NamaUnit readonly>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lookup Poli  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="NoRegister"> Poli </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="NoRegister">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                    <input type="text" class="form-control" formControlName="PolyRi" readonly>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #PolyName readonly>

                                        <app-shared-lookup [modal-id]="'modalPoli'" [modal-title]="'Data Poli'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataPoli($event)">
                                        </app-shared-lookup>
                                    </div>
                                </div>

                                <div *ngIf="MrNo.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="MrNo.errors?.serverError">
                                        {{ MrNo.errors?.serverError }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lookup Dokter  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="KodeDokterRj">Dokter</label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="KodeDokterRj">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                    <input type="text" class="form-control" formControlName="KodeDokterRj"
                                        id="KodeDokterRj" readonly>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #FirstNameDokter readonly>

                                        <app-shared-lookup [modal-id]="'modalDokter'" [modal-title]="'Data Dokter'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataDokter($event)">
                                        </app-shared-lookup>
                                    </div>
                                </div>

                                <div *ngIf="KodeDokterRj.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="KodeDokterRj.errors?.serverError">
                                        {{ KodeDokterRj.errors?.serverError }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lookup Debitur  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="PartyDebitur">Debitur</label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="PartyDebitur">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                    <input type="text" class="form-control" formControlName="PartyDebitur"
                                        id="PartyDebitur" hidden readonly>

                                    <input type="text" class="form-control mr-2" #DebiturOrgCode readonly>

                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #DebiturName readonly>

                                        <app-shared-lookup [modal-id]="'modalDebitur'" [modal-title]="'Data Debitur'"
                                            [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataDebitur($event)">
                                        </app-shared-lookup>
                                    </div>
                                </div>

                                <div *ngIf="PartyDebitur.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="PartyDebitur.errors?.serverError">
                                        {{ PartyDebitur.errors?.serverError }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lookup Kelas Pelayanan  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="ScvPelayanan">Kelas Pelayanan</label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="ScvPelayanan">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                    <input type="text" class="form-control" formControlName="ScvPelayanan"
                                        id="ScvPelayanan" hidden readonly>

                                    <input type="text" class="form-control mr-2" #ScvPelayananCode readonly>

                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #ScvPelayananDescr readonly>

                                        <app-shared-lookup [modal-id]="'modalKelasPelayanan'"
                                            [modal-title]="'Data Kelas Pelayanan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataKelasPelayanan($event)">
                                        </app-shared-lookup>
                                    </div>
                                </div>

                                <div *ngIf="ScvPelayanan.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="ScvPelayanan.errors?.serverError">
                                        {{ ScvPelayanan.errors?.serverError }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- No Peserta  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="FromNoRegister"> No. Peserta </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="FromNoRegister">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="FromNoRegister"
                                id="FromNoRegister">

                            <div *ngIf="FromNoRegister.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="FromNoRegister.errors?.serverError">
                                    {{ FromNoRegister.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- No SEP  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="ScvCode"> No. SEP </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="ScvCode">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="ScvCode" id="ScvCode">

                            <div *ngIf="ScvCode.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="ScvCode.errors?.serverError">
                                    {{ ScvCode.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- Lookup Asal Rujukan  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="KodeRujukan"> Asal Rujukan </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="KodeRujukan">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                    <input type="text" class="form-control" formControlName="KodeRujukan" readonly>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #NamaRujukan readonly>

                                        <app-shared-lookup [modal-id]="'modalAsalRujukan'"
                                            [modal-title]="'Data Asal Rujukan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataAsalRujukan($event)">
                                        </app-shared-lookup>
                                    </div>
                                </div>

                                <div *ngIf="KodeRujukan.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="KodeRujukan.errors?.serverError">
                                        {{ KodeRujukan.errors?.serverError }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lookup Kota Asal Rujukan  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="KotaAsalRujukan">Kota Asal Rujukan </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="KotaAsalRujukan">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                    <input type="text" class="form-control" formControlName="KotaAsalRujukan" readonly>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #KotaAsalRujukanName readonly>

                                        <app-shared-lookup [modal-id]="'modalKotaAsalRujukan'"
                                            [modal-title]="'Data Kota Asal Rujukan'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            [static-filter]="modalStaticFilterLookup"
                                            (onGetSelectedData)="onGetSelectedDataKotaAsalRujukan($event)">
                                        </app-shared-lookup>
                                    </div>
                                </div>

                                <div *ngIf="KotaAsalRujukan.errors?.serverError"
                                    class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="KotaAsalRujukan.errors?.serverError">
                                        {{ KotaAsalRujukan.errors?.serverError }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dirujuk Oleh  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="Perujuk"> Di Rujuk Oleh </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="Perujuk">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="Perujuk" id="Perujuk">

                            <div *ngIf="Perujuk.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="Perujuk.errors?.serverError">
                                    {{ Perujuk.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lookup Diagnosa Awal  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="DiagnosaMasuk"> Diagnosa Awal </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="DiagnosaMasuk">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="form-row">
                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                    <input type="text" class="form-control" formControlName="DiagnosaMasuk" readonly>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" #KeteranganDiagnosaMasuk readonly>

                                        <app-shared-lookup [modal-id]="'modalDiagnosaAwal'"
                                            [modal-title]="'Data Diagnosa Masuk'" [modal-button]="modalButtonLookup"
                                            [column-items]="modalColumnsItemLookup"
                                            [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                            (onOpenModal)="onOpenLookup($event)"
                                            (onGetSelectedData)="onGetSelectedDataDiagnosaAwal($event)">
                                        </app-shared-lookup>
                                    </div>
                                </div>

                                <div *ngIf="DiagnosaMasuk.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                    <div *ngIf="DiagnosaMasuk.errors?.serverError">
                                        {{ DiagnosaMasuk.errors?.serverError }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Keluhan  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="Keluhan"> Keluhan </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="Keluhan">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="Keluhan" id="Keluhan">

                            <div *ngIf="Keluhan.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="Keluhan.errors?.serverError">
                                    {{ Keluhan.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Catatan  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="Catatan"> Catatan </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="Catatan">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <textarea type="text" class="form-control" formControlName="Catatan" id="Catatan" rows="2">
                            </textarea>

                            <div *ngIf="Catatan.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="Catatan.errors?.serverError">
                                    {{ Catatan.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Catatan  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="CatatanTerakhir"> Catatan Terakhir </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="CatatanTerakhir">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <textarea type="text" class="form-control" #CatatanTerakhir rows="2" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Operator  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="OprEntry"> Operator </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="OprEntry">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="OprEntry" id="OprEntry" hidden
                                readonly>
                            <input type="text" class="form-control" #NamaUserEntry readonly>

                            <div *ngIf="OprEntry.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="OprEntry.errors?.serverError">
                                    {{ OprEntry.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Jenis Karcis  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="JenisKarcis"> Jenis Karcis </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="JenisKarcis">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" #JenisKarcis readonly>
                        </div>
                    </div>
                </div>
            </div>

            <!-- No. Karcis  -->
            <div class="row mb-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="TicketCode"> No. Karcis </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                            <label for="TicketCode">:</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="text" class="form-control" formControlName="TicketCode" readonly>

                            <div *ngIf="TicketCode.errors?.serverError" class="alert alert-danger p-1 mt-1 mb-0">
                                <div *ngIf="TicketCode.errors?.serverError">
                                    {{ TicketCode.errors?.serverError }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
            <button #ButtonSubmit class="btn btn-primary btn-sm" type="submit">Simpan Admisi Pasien</button>
        </div>
    </div>
</form>