<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center my-3">
        <h4 class="card-title text-primary">WELCOME</h4>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
    <shared-grid #gridHistoryHeader [grid-id]="'GridHistoryHeader'" [grid-DataSource]="gridHistoryHeaderDatasource"
        [grid-height]="'100%'" [grid-lines]="'Both'" [grid-toolbar]="['Search']" [columns]="gridHistoryHeaderColumns"
        (initialized)="onInitializedGridHistoryHeader($event)">
    </shared-grid>
</div>