<!-- Search Box -->
<div class="row mb-2">
    <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 pr-2">
                <ejs-combobox name="pilihKriteria" [dataSource]='dataKriteria' (change)="onChangeKriteria($event)"
                    [fields]='fieldsKriteria' placeholder='Pilih Kriteria' floatLabelType="Auto" popupHeight='250px'>
                </ejs-combobox>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 pt-3">
                <div class="input-group ">
                    <input #inputSearchKriteria type="text" class="form-control" placeholder="Kata Kunci Pencarian"
                        aria-label="Kata Kunci Pencarian" aria-describedby="button-addon2"
                        (keydown.enter)="onSearchKriteria($event.target.value, gridDataPasien)">

                    <button class="btn btn-primary btn-sm" type="button" id="button-addon2"
                        (click)="onSearchKriteria(inputSearchKriteria.value, gridDataPasien)">
                        <i class="fa fa-search"></i> Cari
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Grid Data Pasien -->
<shared-grid #gridDataPasien [grid-id]="gridId" [grid-width]="gridWidth" [grid-height]="300"
    [grid-DataSource]="gridDataSource" [grid-lines]="gridLines" [grid-paging]="isAllowPaging"
    [grid-initial-page]="gridPageSettings" [grid-editSettings]="gridEditSettings" [grid-toolbar]="gridToolbar"
    [columns]="gridColumns" (row-selected)="onRowSelecting($event)"
    (toolbar-click)="onToolbarClick($event, gridDataPasien)">
</shared-grid>