.col-lg-1.col-md-1.col-sm-1.width-15 {
  width: 15px;
  max-width: 15px;
  text-align: right;
}

span.e-input-group.e-control-wrapper.form-autocomplete {
  padding: 0px 5px;
  width: 100% !important;
  border-radius: 5px;
}

.form-autocomplete {
  width: 90% !important;
}

input#Dispense {
  width: 85%;
}

.color-gray {
  color: #666666;
}

.col-lg-1.col-md-1.col-sm-1.div-button-add {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

@media only screen and (max-width: 1199.98px) and (orientation: landscape) {
  h5.card-title {
    font-size: 11px !important;
  }

  .col-1.pl-0.text-right.hide-1200 {
    display: none !important;
  }

  span.e-input-group.e-control-wrapper.form-autocomplete {
    padding: 0px 5px;
    width: 100% !important;
    border-radius: 5px;
  }

  .form-autocomplete {
    width: 85% !important;
  }

  input#Dispense {
    width: 75%;
  }

  .col-lg-1.col-md-1.col-sm-1.div-button-add {
    padding: 15px 0px !important;
    text-align: left;
  }

  h1.card-title.mb-0 {
    font-size: 33px !important;
  }

  ejs-grid#GridInputResep > div.e-gridcontent,
  ejs-grid#GridInputResep > div.e-gridcontent > div.e-content {
    height: 340px !important;
  }
}
