<tabset #staticTabs>
    <!-- Tab Input Resep -->
    <tab>
        <ng-template tabHeading>
            <i class="{{ tabHeader[0]['iconCss'] }}"></i> {{ tabHeader[0]['text'] }}
        </ng-template>

        <!-- Card berisi informasi baku dari Pasien -->
        <div class="card mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <!-- Nama Pasien -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-3">
                                        <h5 class="card-title mb-1">Nama</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">: </h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ namaPasien }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- No. Register -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-3">
                                        <h5 class="card-title mb-1">No. Reg</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title mb-0 color-gray">{{ noRegister }}</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- DPJP -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-3">
                                        <h5 class="card-title mb-1">DPJP </h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">: </h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ namaDokter.length > 20 ? (namaDokter | slice : 0 : 20) : namaDokter }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="row">
                            <!-- MR NO -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title mb-1">No. RM</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ mrNo }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Gender -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title mb-1">Gender</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ sex }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Tgl Lahir -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title mb-1">Tgl Lahir</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ tglLahir | date: "dd/MM/yyyy "}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <!-- Umur -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title mb-1">Umur Pasien</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ umur }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Tgl Masuk Rawat -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title mb-1">Tgl Masuk</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ tglMasukRawat | date: 'dd/MM/yyyy' }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Debitur -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="card-title mb-1">Debitur</h5>
                                    </div>
                                    <div class="col-1 px-0 text-right">
                                        <h5 class="card-title mb-1">:</h5>
                                    </div>
                                    <div class="col-7">
                                        <h5 class="card-title mb-0 color-gray">
                                            {{ (debiturName.length > 20) ? (debiturName | slice: 0 : 20) : debiturName}}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Input Prescription  -->
        <div class="card">
            <div class="card-header px-3 py-2">
                <h5 class="card-title mb-0">
                    INPUT PRESCRIPTION (OUTPATIENT)
                </h5>
            </div>

            <!-- Card Body berisi form input prescription -->
            <div class="card-body border-0">
                <form [formGroup]="formInputResep">
                    <div class="row mb-2">
                        <!-- Input field untuk ditambahkan ke dalam Grid -->
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <!-- Drug Name -->
                            <div class="row mb-2">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="row">
                                        <div class="col-11 pr-0">
                                            <label for="DrugName" class="col-form-label">
                                                Drug Name
                                            </label>
                                        </div>
                                        <div class="col-1 pl-0 text-right hide-1200">
                                            <label for="DrugName" class="col-form-label">
                                                :
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10">
                                    <div class="input-group mb-1">
                                        <ejs-autocomplete [id]="'DrugName'" formControlName="DrugName"
                                            [cssClass]="'form-autocomplete'" class="form-autocomplete"
                                            [popupHeight]="300" [fields]="drugNameFields"
                                            [dataSource]="drugNameDatasource"
                                            (change)="onChangeDropdownDrugName($event)">
                                        </ejs-autocomplete>
                                        <button class="btn btn-primary btn-sm" type="button" id="show-detail"
                                            style="height: 32px"
                                            [disabled]="DrugName.value == '' || DrugName.value == null "
                                            (click)="onOpenDetailDialogObat(templateDialogDetailObat)">
                                            <i class="fas fa-clipboard-check"></i> &nbsp; Detail
                                        </button>
                                    </div>
                                </div>

                                <!-- Nah ini dialog Detail Obat nya -->
                                <ng-template #templateDialogDetailObat>
                                    <div class="modal-content" id="DialogInputDiagnosa">
                                        <div class="modal-header px-2 py-1 bg-light">
                                            <h5 class="modal-title mb-0">Detail Obat</h5>
                                            <button type="button" class="close pull-right" aria-label="Close"
                                                (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Nama Obat -->
                                            <div class="mb-3">
                                                <label for="NamaObat" class="form-label">Nama Obat</label>
                                                <input type="text" class="form-control" id="NamaObat" readonly>
                                            </div>

                                            <!-- Catatan -->
                                            <div class="mb-3">
                                                <label for="Catatan" class="form-label">Catatan</label>
                                                <textarea type="text" class="form-control" id="Catatan" readonly
                                                    rows="3">
                                                </textarea>
                                            </div>

                                            <!-- Therapy -->
                                            <div class="mb-3">
                                                <label for="Therapy" class="form-label">Therapy</label>
                                                <input type="text" class="form-control" id="Therapy" readonly>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right">
                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="modalRef.hide()">
                                                Tutup
                                            </button>
                                        </div>
                                    </div>
                                </ng-template>

                            </div>

                            <!-- Drug Delivery, Period, Period Moment and Dispense -->
                            <div class="row mb-2">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="row">
                                        <div class="col-11 pr-0">
                                            <label for="DrugDelivery" class="col-form-label">
                                                Drug Delivery
                                            </label>
                                        </div>
                                        <div class="col-1 pl-0 text-right hide-1200">
                                            <label for="DrugDelivery" class="col-form-label">
                                                :
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <ejs-combobox #DrugDeliveryCombobox [dataSource]='drugDeliveryDatasource'
                                        (change)="onChangeDropdownDrugDelivery($event)" [fields]='drugDeliveryFields'
                                        placeholder='Drug Delivery' popupHeight='250px'>
                                    </ejs-combobox>
                                </div>

                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label for="DrugName" class="col-form-label">
                                        Period
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="row">
                                        <div class="col-6 pr-1">
                                            <ejs-combobox #PeriodCombobox [dataSource]='periodDatasource'
                                                (change)="onChangeDropdownPeriod($event)" [fields]='periodFields'
                                                placeholder='Period' popupHeight='250px'>
                                            </ejs-combobox>
                                        </div>
                                        <div class="col-6 pl-1">
                                            <ejs-combobox #PeriodMomentCombobox [dataSource]='periodMomentDatasource'
                                                (change)="onChangeDropdownPeriodMoment($event)"
                                                [fields]='periodMomentFields' placeholder='Period Moment'
                                                popupHeight='250px'>
                                            </ejs-combobox>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-md-1 col-sm-1 px-0">
                                    <label for="DrugName" class="col-form-label">
                                        Dispense
                                    </label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 px-0">
                                    <input type="text" formControlName="Dispense" class="form-control" id="Dispense">
                                </div>
                            </div>
                        </div>

                        <!-- Button untuk menambahkan ke dalam Grid -->
                        <div class="col-lg-1 col-md-1 col-sm-1 div-button-add">
                            <button class="btn-primary btn-lg rounded" type="button"
                                (click)="onAddDataToGridInputResep(formInputResep.value)">
                                <i class="fas fa-arrow-alt-circle-down fa-lg"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row mb-2" id="gridInputResep">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <h1 class="card-title mb-0">
                                RX
                            </h1>
                        </div>

                        <!-- Grid Input Resep -->
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <ejs-contextmenu target="#GridInputResep" [items]='gridContextMenuItems'
                                (select)="onSelectGridContextMenu($event)">
                            </ejs-contextmenu>

                            <shared-grid #gridInputResep [grid-id]="'GridInputResep'"
                                [grid-DataSource]="gridInputResepDataSource" [grid-height]="'150px'"
                                [grid-toolbar]="['Delete']" [grid-lines]="'Both'" [columns]="gridInputResepColumns"
                                [grid-editSettings]="{ allowDeleting: true }"
                                (initialized)="onInitializedGridInputResep($event)"
                                (row-selected)="onSelectingGridInputResep($event)"
                                (toolbar-click)="onToolbarGridInputResepClick($event)">
                            </shared-grid>

                            <!-- Nah ini dialog Input Diagnosa nya -->
                            <ng-template #templateDialogInputDiagnosa>
                                <div class="modal-content" id="DialogInputDiagnosa">
                                    <form [formGroup]="formInputDiagnosa">
                                        <div class="modal-header px-2 py-1 bg-light">
                                            <h4 class="modal-title pull-left">Input Diagnosa</h4>
                                            <button type="button" class="close pull-right" aria-label="Close"
                                                (click)="modalRef.hide()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body p-1">
                                            <div class="col-lg-12 col-md-12 col-sm-12 px-2">
                                                <!-- Subjective -->
                                                <div class="mb-2">
                                                    <label for="SoapS" class="form-label">Subjective</label>
                                                    <textarea type="text" class="form-control" id="SoapS" rows="2"
                                                        formControlName="SoapSubjective">
                                                </textarea>
                                                </div>

                                                <!-- Objective -->
                                                <div class="mb-2">
                                                    <label for="SoapO" class="form-label">Objective</label>
                                                    <textarea type="text" class="form-control" id="SoapO" rows="2"
                                                        formControlName="SoapObjective">
                                                </textarea>
                                                </div>

                                                <!-- Assesment -->
                                                <div class="mb-2">
                                                    <label for="SoapO" class="form-label">Assesment</label>
                                                    <div class="form-row mb-2">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                                            <input type="text" class="form-control"
                                                                [id]="'KodeDiagnosaAwal'" readonly
                                                                placeholder="Kode Diagnosa Awal"
                                                                formControlName="DiagnosaIcdAwal">
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                    [id]="'NamaDiagnosaAwal'" readonly
                                                                    placeholder="Nama Diagnosa Awal">

                                                                <app-shared-lookup [modal-id]="'modalDiagnosa'"
                                                                    [modal-title]="'Data Diagnosa'"
                                                                    [modal-button]="modalButtonLookup"
                                                                    [column-items]="modalColumnsItemLookup"
                                                                    [filter-lookup]="modalFiltersItemLookup"
                                                                    [lookup-url]="modalUrlLookup"
                                                                    (onOpenModal)="onOpenLookup($event)"
                                                                    (onGetSelectedData)="onGetSelectedDiagnosa($event)">
                                                                </app-shared-lookup>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <textarea type="text" class="form-control" id="SoapA"
                                                        placeholder="Catatan" rows="2" formControlName="SoapAssesment">
                                                </textarea>
                                                </div>

                                                <!-- Plan -->
                                                <div class="mb-2">
                                                    <label for="SoapO" class="form-label">Plan</label>
                                                    <textarea type="text" class="form-control" id="SoapP" rows="2"
                                                        formControlName="SoapPlan">
                                                </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer text-right">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                (click)="onSubmitFormInputDiagnosa(formInputDiagnosa.value)">
                                                Simpan
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="modalRef.hide()">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                            <button class="btn btn-sm btn-primary mx-2" type="button"
                                (click)="onConvertingGridInputResepData()">
                                Simpan
                            </button>
                            <button class="btn btn-sm btn-secondary mx-2" type="button"
                                (click)="onSetGridToFullscreen()">
                                Resep Full Screen
                            </button>
                            <button class="btn btn-sm btn-danger mx-2" type="button">
                                Batal
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </tab>

    <!-- Tab Prescription History -->
    <tab>
        <ng-template tabHeading>
            <div id="tabHistory" (click)="onGetHistoryResepDigital()">
                <i class="{{ tabHeader[1]['iconCss'] }}"></i> {{ tabHeader[1]['text'] }}
            </div>
        </ng-template>

        <div class="row mb-2">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header px-3 py-2">
                        <h5 class="card-title mb-0">
                            Daftar Resep
                        </h5>
                    </div>
                    <div class="card-body p-0">
                        <shared-grid #gridDaftarResep [grid-id]="'GridDaftarResep'"
                            [grid-DataSource]="gridDataSourceDaftarResep" [grid-height]="'150px'" [grid-lines]="'Both'"
                            [grid-toolbar]="['Search']" [columns]="gridColumnsDaftarResep"
                            (row-selected)="onGetDetailResep($event)"
                            (initialized)="onInitializedGridDaftarResep($event)">
                        </shared-grid>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header px-3 py-2">
                        <h5 class="card-title mb-0">
                            Detail Resep
                        </h5>
                    </div>
                    <div class="card-body p-0">
                        <shared-grid #gridDetailResep [grid-id]="'GridDetailResep'"
                            [grid-DataSource]="gridDataSourceDetailResep" [grid-height]="'150px'" [grid-lines]="'Both'"
                            [grid-toolbar]="['Search']" [columns]="gridColumnsDetailResep"
                            (initialized)="onInitializedGridDetailResep($event)">
                        </shared-grid>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>