<div class="row py-2">
    <!-- Tgl Preview -->
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="row mb-2">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label for="TglPreview" class="form-label">Tanggal :</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 pr-0">
                <ejs-datepicker #TglPreviewDatepicker [id]="'TglPreview'" [format]="'dd MMMM yyyy'">
                </ejs-datepicker>
            </div>
            <div class="col-2 pl-0">
                <button class="btn btn-primary btn-sm" type="button"
                    (click)="onFetchHistoryHeaderByBillDate(TglPreviewDatepicker.value)">
                    Preview
                </button>
            </div>
        </div>
    </div>

    <!-- Pencarian By Keyword -->
    <!-- <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="row mb-2">
            <div class="col-lg-3 col-md-3 col-sm-3 pr-0">
                <label for="Pencarian" class="form-label">Pencarian :</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 pr-0">
                <input #Pencarian type="text" class="form-control" id="Pencarian"
                    placeholder="Masukkan Kata Kunci Pencarian">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 pl-0">
                <button class="btn btn-primary btn-sm" type="button"
                    (click)="onSearchGridHeaderUsingKeyword(Pencarian.value)">
                    Cari
                </button>
            </div>
        </div>
    </div> -->
</div>

<div class="row py-2">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <!-- Grid History Header -->
        <shared-grid #gridHistoryHeader [grid-id]="'GridHistoryHeader'" [grid-DataSource]="gridHistoryHeaderDatasource"
            [grid-height]="'200px'" [grid-lines]="'Both'" [columns]="gridHistoryHeaderColumns"
            [grid-toolbar]="['Search']" (row-selected)="onSelectRowGridHistoryHeader($event)"
            (double-click)="onFetchHistoryDetailByPenjualanResepId($event)"
            (initialized)="onInitializedGridHistory($event)">
        </shared-grid>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <!-- Grid History Detail -->
        <shared-grid #gridHistoryDetail [grid-id]="'GridHistoryDetail'" [grid-DataSource]="gridHistoryDetailDatasource"
            [grid-height]="'200px'" [grid-lines]="'Both'" [columns]="gridHistoryDetailColumns"
            [grid-toolbar]="['Search']" (row-selected)="onSelectRowGridHistoryDetail($event)"
            (initialized)="onInitializedGridHistory($event)">
        </shared-grid>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-right">
        <button class="btn btn-primary btn-sm mr-1" type="button" (click)="onCetakRincianBiaya()">
            Cetak Rincian Biaya
        </button>
        <button class="btn btn-primary btn-sm ml-1" type="button" (click)="onCetakTiketObat()">
            Cetak E-Tiket Obat
        </button>
    </div>
</div>