<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Lookup Poli  -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <label for="PolyCode">Poli </label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 px-0 text-right">
                        <label for="PolyCode">:</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="form-row">
                            <div class="col-lg-4 col-md-4 col-sm-4 pr-1">
                                <input type="text" class="form-control" #PolyCode readonly>

                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 pl-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" #PolyName readonly>

                                    <app-shared-lookup [modal-id]="'modalPoli'" [modal-title]="'Data Poli'"
                                        [modal-button]="modalButtonLookup" [column-items]="modalColumnsItemLookup"
                                        [filter-lookup]="modalFiltersItemLookup" [lookup-url]="modalUrlLookup"
                                        (onOpenModal)="onOpenLookup($event)"
                                        (onGetSelectedData)="onGetSelectedDataPoli($event)">
                                    </app-shared-lookup>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table  -->
        <div class="row mb-2">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ejs-contextmenu target="#GridAntrianPasien" [items]='gridContextMenuItems'
                    (select)="onSelectGridContextMenu($event)"></ejs-contextmenu>

                <shared-grid #gridAntrianPasien [grid-id]="gridId" [grid-DataSource]="gridDataSource"
                    [grid-height]="gridHeight" [grid-lines]="gridLines" [grid-editSettings]="gridEditSettings"
                    [grid-paging]="isAllowPaging" [grid-initial-page]="gridPageSettings"
                    [grid-ContextMenuItems]="gridContextMenuItems" [grid-toolbar]="gridToolbar" [columns]="gridColumns"
                    (row-selected)="onRowSelecting($event)" (toolbar-click)="onToolbarClick($event, gridAntrianPasien)">
                </shared-grid>
            </div>
        </div>

        <!-- Dialog Konsul -->
        <ng-template #template>
            <div class="modal-content" id="{{ modalId }}">
                <div class="modal-header px-2 py-1 bg-light">
                    <h4 class="modal-title pull-left">{{ modalTitle }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-1">
                    <div class="card">
                        <div class="card-header p-2">
                            <div class="row">
                                <!-- Lookup Poli Konsul -->
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="row mb-2">
                                        <div class="col-lg-3 col-md-3 col-sm-3 pr-0">
                                            <label for="PolyCodeKonsul">Poli Konsul :</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9">
                                            <div class="form-row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                                    <input type="text" class="form-control" id="PolyCodeKonsul"
                                                        readonly>

                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="PolyNameKonsul"
                                                            readonly>

                                                        <app-shared-lookup [modal-id]="'modalPoliKonsul'"
                                                            [modal-title]="'Data Poli Konsul'"
                                                            [modal-button]="modalButtonLookup"
                                                            [column-items]="modalColumnsItemLookup"
                                                            [filter-lookup]="modalFiltersItemLookup"
                                                            [lookup-url]="modalUrlLookup"
                                                            (onOpenModal)="onOpenLookup($event)"
                                                            (onGetSelectedData)="onGetSelectedDataPoliKonsul($event)">
                                                        </app-shared-lookup>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Lookup Dokter Konsul -->
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="row mb-2">
                                        <div class="col-lg-3 col-md-3 col-sm-3 pr-0">
                                            <label for="PolyCodeKonsul">Dokter Konsul :</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9">
                                            <div class="form-row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 pr-1">
                                                    <input type="text" class="form-control" id="KodeDokterKonsul"
                                                        readonly>

                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-9 pl-1">

                                                    <input type="text" class="form-control" id="NamaDokterKonsul"
                                                        readonly>

                                                    <app-shared-lookup [button-id]="'btnLookupDokterKonsul'"
                                                        [hide-button]="true" [modal-id]="'modalDokterKonsul'"
                                                        [modal-title]="'Data Dokter Konsul'"
                                                        [modal-button]="modalButtonLookup"
                                                        [column-items]="modalColumnsItemLookup"
                                                        [filter-lookup]="modalFiltersItemLookup"
                                                        [lookup-url]="modalUrlLookup"
                                                        (onOpenModal)="onOpenLookup($event)"
                                                        (onGetSelectedData)="onGetSelectedDataDokterKonsul($event)">
                                                    </app-shared-lookup>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <shared-grid #gridKonsul [grid-id]="gridKonsulId" [grid-DataSource]="gridKonsulDataSource"
                                [grid-height]="gridKonsulHeight" [grid-lines]="gridKonsulLines"
                                [grid-editSettings]="gridKonsulEditSettings" [grid-paging]="isAllowPagingKonsul"
                                [grid-initial-page]="gridKonsulPageSettings"
                                [grid-ContextMenuItems]="gridContextMenuItems" [grid-toolbar]="gridKonsulToolbar"
                                [columns]="gridKonsulColumns" (row-selected)="onRowKonsulSelecting($event, gridKonsul)"
                                (toolbar-click)="onToolbarKonsulClick($event, gridKonsul)"
                                (double-click)="onRowKonsulDoubleClick($event)"
                                (initialized)="onInitializedGridKonsul($event)">
                            </shared-grid>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary btn-sm" type="button"
                                (click)="onMappingDataKonsulPasien(gridKonsul)">Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>