.e-toolbar .e-tbar-btn .e-icons.e-btn-icon {
  font-size: 12px !important;
}

.e-toolbar .e-toolbar-item .e-tbar-btn.e-btn .e-icons.e-btn-icon {
  line-height: 25px;
  min-height: 15px !important;
}

@media only screen and (min-width: 992px) {
  div.modal-content.modal-lg {
    max-width: 900px;
  }

  div.modal-content#ModalKonsul {
    width: 1000px !important;
    max-width: 1000px !important;
    left: -7vw !important;
  }
}
