<form [formGroup]="formPenjualanObat">
    <div class="row mb-3">
        <!-- Informasi Pasien -->
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="card">
                <div class="card-header p-2">
                    <h5 class="card-title mb-0">
                        Informasi Pasien
                    </h5>
                </div>
                <div class="card-body py-2 px-3">
                    <!-- No Register -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="NoRegister" class="form-label">No. Register</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NoRegister" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <input type="text" class="form-control" [id]="'NoRegister'" readonly
                                    placeholder="No. Register" formControlName="NoRegister">

                                <app-shared-lookup [modal-id]="'modalAdmisiPasien'" [modal-title]="'Data Admisi Pasien'"
                                    [modal-button]="buttonLookup" [column-items]="columnsLookup"
                                    [filter-lookup]="filterLookup" [lookup-url]="urlLookup"
                                    (onOpenModal)="onOpenLookup($event)"
                                    (onGetSelectedData)="onGetSelectedDataLookupAdmisi($event)">
                                </app-shared-lookup>
                            </div>
                        </div>
                    </div>

                    <!-- Mr No -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="MrNo" class="form-label">No. MR</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="MrNo" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [id]="'MrNo'" readonly placeholder="No. MR"
                                formControlName="MrNo">
                        </div>
                    </div>

                    <!-- Nama Pasien -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="NamaPasien" class="form-label">Nama Pasien</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NamaPasien" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [id]="'NamaPasien'" readonly
                                placeholder="Nama Pasien" formControlName="NamaPasien">
                        </div>
                    </div>

                    <!-- Tanggal Lahir -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="TglLahir" class="form-label">Tgl Lahir</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="TglLahir" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <ejs-datepicker id="TglLahir" formControlName="TglLahir" [readonly]="true"
                                [allowEdit]="false" [format]="'dd MMMM yyyy'">
                            </ejs-datepicker>
                        </div>
                    </div>

                    <!-- Alamat -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="Alamat" class="form-label">Alamat</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="Alamat" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <textarea class="form-control" id="Alamat" rows="3" formControlName="Alamat"
                                readonly></textarea>
                        </div>
                    </div>

                    <!-- Nama Debitur -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="NamaDebitur" class="form-label">Debitur</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="NamaDebitur" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [id]="'KodeDebitur'" readonly hidden
                                placeholder="Kode Debitur" formControlName="KodeDebitur">

                            <input type="text" class="form-control" [id]="'NamaDebitur'" readonly
                                placeholder="Nama Debitur" formControlName="NamaDebitur">
                        </div>
                    </div>

                    <!-- Tanggal Admisi -->
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="TglMasukRawat" class="form-label">Tgl Admisi</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="TglMasukRawat" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <ejs-datepicker id="TglMasukRawat" formControlName="TglMasukRawat" [readonly]="true"
                                [allowEdit]="false" [format]="'dd MMMM yyyy'">
                            </ejs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Informasi  -->
        <div class="col-lg-7 col-md-7 col-sm-7">
            <!-- Depo Anda -->
            <div class="row mb-2">
                <div class="col-3">
                    <div class="row">
                        <div class="col-11">
                            <label for="NamaDepo" class="form-label">Depo Anda</label>
                        </div>
                        <div class="col-1 px-0 hide-when-575">
                            <label for="NamaDepo" class="form-label">:</label>
                        </div>
                    </div>
                </div>
                <div class="col-3 pr-1">
                    <input type="text" class="form-control" [id]="'Depo'" readonly value="4080029">
                </div>
                <div class="col-6 pl-1">
                    <input type="text" class="form-control" [id]="'NamaDepo'" readonly
                        value="DEPO FARMASI GARUDA 24 JAM">
                </div>
            </div>

            <!-- Poli -->
            <div class="row mb-2">
                <div class="col-3">
                    <div class="row">
                        <div class="col-11">
                            <label for="PolyName" class="form-label">Poli</label>
                        </div>
                        <div class="col-1 px-0 hide-when-575">
                            <label for="PolyName" class="form-label">:</label>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" [id]="'PolyCode'" readonly hidden placeholder="Poly Code"
                        formControlName="PolyCode">

                    <input type="text" class="form-control" [id]="'PolyName'" readonly placeholder="Poly Name"
                        formControlName="PolyName">
                </div>
            </div>

            <!-- Dokter -->
            <div class="row mb-3">
                <div class="col-3">
                    <div class="row">
                        <div class="col-11">
                            <label for="NamaDokter" class="form-label">Dokter</label>
                        </div>
                        <div class="col-1 px-0 hide-when-575">
                            <label for="NamaDokter" class="form-label">:</label>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" [id]="'KodeDokter'" readonly hidden
                        placeholder="Kode Dokter" formControlName="KodeDokter">

                    <input type="text" class="form-control" [id]="'NamaDokter'" readonly placeholder="Nama Dokter"
                        formControlName="NamaDokter">
                </div>
            </div>

            <!-- Tab - Tab Obat -->
            <div class="row">
                <div class="col-12">
                    <tabset>
                        <!-- Tab Diagnosa -->
                        <tab>
                            <ng-template tabHeading>
                                <i class="{{ tabHeader[0]['iconCss'] }}"></i> {{ tabHeader[0]['text'] }}
                            </ng-template>

                            <!-- Grid Diagnosa -->
                            <shared-grid #gridDiagnosa [grid-id]="'GridDiagnosa'"
                                [grid-DataSource]="gridDiagnosaDatasource" [grid-height]="'150px'" [grid-lines]="'Both'"
                                [columns]="gridDiagnosaColumns" (initialized)="onInitializedGridDiagnosa($event)">
                            </shared-grid>
                        </tab>

                        <!-- Tab Pemeriksaan Fisik -->
                        <tab>
                            <ng-template tabHeading>
                                <i class="{{ tabHeader[1]['iconCss'] }}"></i> {{ tabHeader[1]['text'] }}
                            </ng-template>
                        </tab>

                        <!-- Tab Alergi Obat -->
                        <tab>
                            <ng-template tabHeading>
                                <i class="{{ tabHeader[2]['iconCss'] }}"></i> {{ tabHeader[2]['text'] }}
                            </ng-template>
                        </tab>

                        <!-- Tab Resep Digital -->
                        <tab>
                            <ng-template tabHeading>
                                <i class="{{ tabHeader[3]['iconCss'] }}"></i> {{ tabHeader[3]['text'] }}
                            </ng-template>

                            <div class="row">
                                <div class="col-6 pr-1">
                                    <!-- Grid Resep Header -->
                                    <ejs-contextmenu target='#GridResepHeader' [items]='contextMenuItemGridResepHeader'
                                        (select)='onSelectContextMenuGridResepHeader($event)'>
                                    </ejs-contextmenu>

                                    <shared-grid #gridResepHeader [grid-id]="'GridResepHeader'"
                                        [grid-DataSource]="gridResepHeaderDatasource" [grid-height]="'150px'"
                                        [grid-lines]="'Both'" [columns]="gridResepHeaderColumns"
                                        (row-selected)="onGetResepDetailByResepId($event)"
                                        (initialized)="onInitializedGridResepHeader($event)">
                                    </shared-grid>
                                </div>
                                <div class="col-6 pl-1">
                                    <!-- Grid Resep Header -->
                                    <shared-grid #gridResepDetail [grid-id]="'GridResepDetail'"
                                        [grid-DataSource]="gridResepDetailDatasource" [grid-height]="'150px'"
                                        [grid-lines]="'Both'" [columns]="gridResepDetailColumns"
                                        (initialized)="onInitializedGridResepDetail($event)">
                                    </shared-grid>
                                </div>
                            </div>


                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2" hidden>
        <!-- Lookup Obat -->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row mb-2">
                <div class="col-4">
                    <div class="row">
                        <div class="col-11">
                            <label for="ObatId" class="form-label">Pilih Obat</label>
                        </div>
                        <div class="col-1 px-0 hide-when-575">
                            <label for="ObatId" class="form-label">:</label>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" class="form-control" [id]="'ItemCodeDesc'" readonly placeholder="Pilih Obat">

                        <app-shared-lookup [button-id]="'LookupObat'" [modal-id]="'modalObat'"
                            [modal-title]="'Data Obat'" [modal-button]="buttonLookup" [column-items]="columnsLookup"
                            [filter-lookup]="filterLookup" [lookup-url]="urlLookup" (onOpenModal)="onOpenLookup($event)"
                            (onGetSelectedData)="onGetSelectedDataLookupObat($event)">
                        </app-shared-lookup>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lookup Label Obat -->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row mb-2">
                <div class="col-4">
                    <div class="row">
                        <div class="col-11">
                            <label for="LabelObatId" class="form-label">Pilih Label Obat</label>
                        </div>
                        <div class="col-1 px-0 hide-when-575">
                            <label for="LabelObatId" class="form-label">:</label>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" class="form-control" [id]="'LabelDesc'" readonly
                            placeholder="Pilih Label Obat">

                        <app-shared-lookup [button-id]="'LookupLabelObat'" [modal-id]="'modalLabelObat'"
                            [modal-title]="'Data Label Obat'" [modal-button]="buttonLookup"
                            [column-items]="columnsLookup" [filter-lookup]="filterLookup" [lookup-url]="urlLookup"
                            (onOpenModal)="onOpenLookup($event)"
                            (onGetSelectedData)="onGetSelectedDataLookupLabelObat($event)">
                        </app-shared-lookup>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <tabset>
                <!-- Tab Input Penjualan Obat -->
                <tab>
                    <ng-template tabHeading>
                        <i class="{{ tabDetail[0]['iconCss'] }}"></i> {{ tabDetail[0]['text'] }}
                    </ng-template>

                    <!-- Grid Diagnosa -->
                    <shared-grid #gridPenjualan [grid-id]="'GridPenjualan'" [grid-DataSource]="gridPenjualanDatasource"
                        [grid-height]="'150px'" [grid-lines]="'Both'" [columns]="gridPenjualanColumns"
                        [grid-toolbar]="['Search']" [grid-editSettings]="gridPenjualanEditSettings"
                        (action-complete)="onActionCompleteGridPenjualan($event)"
                        (row-selected)="onSelectRowGridPenjualan($event)"
                        (initialized)="onInitializedGridPenjualan($event)"
                        (command-click)="onCommandClickGridPenjualan($event)">
                    </shared-grid>
                </tab>

                <!-- Tab Browse Penjualan Obat -->
                <tab>
                    <ng-template tabHeading>
                        <i class="{{ tabDetail[1]['iconCss'] }}"></i> {{ tabDetail[1]['text'] }}
                    </ng-template>

                    <div class="row">
                        <div class="col-6 pr-1">
                            <!-- Grid Resep Header -->
                            <shared-grid #gridHistoryHeader [grid-id]="'GridHistoryHeader'"
                                [grid-DataSource]="gridHistoryHeaderDatasource" [grid-height]="'150px'"
                                [grid-lines]="'Both'" [columns]="gridHistoryHeaderColumns"
                                (row-selected)="onGetHistoryDetailByPenjualanResepId($event)"
                                (initialized)="onInitializedGridHistoryHeader($event)">
                            </shared-grid>
                        </div>
                        <div class="col-6 pl-1">
                            <!-- Grid Resep Header -->
                            <shared-grid #gridHistoryDetail [grid-id]="'GridHistoryDetail'"
                                [grid-DataSource]="gridHistoryDetailDatasource" [grid-height]="'150px'"
                                [grid-lines]="'Both'" [columns]="gridHistoryDetailColumns"
                                (initialized)="onInitializedGridHistoryDetail($event)">
                            </shared-grid>
                        </div>
                    </div>
                </tab>

                <!-- Tab Daftar Pending -->
                <tab>
                    <ng-template tabHeading>
                        <i class="{{ tabDetail[2]['iconCss'] }}"></i> {{ tabDetail[2]['text'] }}
                    </ng-template>
                </tab>

            </tabset>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <!-- Lookup Stok Gudang Lain -->
                <div class="col-4">
                    <div class="row mb-2">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-11">
                                    <label for="ObatId" class="form-label">Stok Gudang Lain</label>
                                </div>
                                <div class="col-1 px-0 hide-when-575">
                                    <label for="ObatId" class="form-label">:</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <input type="text" class="form-control" [id]="'StokGudangLain'" readonly
                                    placeholder="Stok Gudang Lain">

                                <app-shared-lookup [button-id]="'LookupStokGudangLain'"
                                    [modal-id]="'modalStokGudangLain'" [modal-title]="'Data Stok Gudang Lain'"
                                    [modal-button]="buttonLookup" [column-items]="columnsLookup"
                                    [static-filter]="staticFilterLookupStokGudangLain" [filter-lookup]="filterLookup"
                                    [lookup-url]="urlLookup" (onOpenModal)="onOpenLookup($event)"
                                    (onGetSelectedData)="onGetSelectedDataLookupStokGudangLain($event)">
                                </app-shared-lookup>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Simpan & Input Baru -->
                <div class="col-2 text-center">
                    <button class="btn btn-primary btn-sm mr-2" type="button" (click)="onHitungSubtotalGridPenjualan()">
                        Simpan
                    </button>

                    <button class="btn btn-warning btn-sm" type="button">
                        Input Baru
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>