<div class="h-100">
    <div class="row align-items-center h-100 my-50">
        <div class="col-lg-6 col-sm-6 col-sm-6 h-100 text-right border-right">
            <div style="margin-top: 5vh; margin-bottom: 5vh;">
                <h1 style="font-size: 70px;">Oops...</h1>
                <h3>Halaman Tidak Ditemukan</h3>
                <button class="btn btn-outline-primary py-0" (click)="onBackToPreviousPage()">
                    Kembali
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-left">
            <img src="../../../assets/img/404/undraw_page_not_found_su7k.svg" alt="" style="width: 400px;">
        </div>
    </div>
</div>