.color-gray {
  color: #666666;
}

h5.tab-tarif-heading {
  font-size: 13px;
  color: #666666 !important;
}

div.col-lg-3.col-md-3.col-sm-3.button-tarif-div,
div.col-lg-9.col-md-9.col-sm-9.button-tarif-div {
  height: 81vh;
  max-height: 81vh;
  overflow: auto !important;
  border-right: 1px solid #e0e0e0;
}

div.col-lg-8.col-md-8.col-sm-8.pr-1.div-dinamis-grid,
div.col-lg-4.col-md-4.col-sm-4.pl-1.div-grid-order {
  height: 91vh;
  max-height: 91vh;
}

span.badge.bg-primary.text-white {
  font-weight: 500 !important;
  cursor: pointer;
}

@media only screen and (min-width: 1399.98px) {
  div.col-lg-3.col-md-3.col-sm-3.button-tarif-div,
  div.col-lg-9.col-md-9.col-sm-9.button-tarif-div {
    height: 55vh;
    max-height: 55vh;
    overflow: auto !important;
    border-right: 1px solid #e0e0e0;
  }

  div.col-lg-8.col-md-8.col-sm-8.pr-1.div-dinamis-grid,
  div.col-lg-4.col-md-4.col-sm-4.pl-1.div-grid-order {
    height: 62vh;
    max-height: 62vh;
  }
}
