<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <h5 class="card-title mb-0">
            Pilih {{ inputName }} :
        </h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="{{ inputId }}">

                <div class="input-group-btn">
                    <button class="btn btn-sm btn-info" id="btnRolesForInput" (click)="onOpenRolesLookup($event)">
                        <i class="fas fa-search" id="iconBtnRolesForInput"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>