@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.myContent {
  font-family: "Roboto", sans-serif !important;
}

h5.card-title,
h5 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 0.5em;
}

input.form-control {
  height: 29px;
  font-size: 13px;
}

button.btn-sm {
  font-size: 13px;
  font-family: "Roboto", sans-serif !important;
  margin-left: -1px;
}

#GridNavbar div.e-headercelldiv,
#GridSidebar th.e-headercell,
#GridButton th.e-headercell {
  background-color: #f8f8ff !important;
  color: black;
}
