<tabset>
    <tab>
        <ng-template tabHeading>
            <i class="{{ tabHeader[0]['iconCss'] == undefined ? 'fa fa-cube' : tabHeader[0]['iconCss'] }}"></i>
            {{ tabHeader[0]['text'] = undefined ? "" : tabHeader[0]['text'] }}
        </ng-template>

        <shared-grid [grid-id]="gridId" [grid-DataSource]="gridDataSource" [grid-width]="gridWidth"
            [grid-height]="gridHeight" [grid-lines]="gridLines" [columns]="gridColumns" [grid-paging]="true"
            [grid-initial-page]="gridPageSettings" [grid-toolbar]="gridToolbars" [grid-editSettings]="gridEditSettings"
            (action-begin)="actionBeginGroup($event)" (row-selected)="rowSelectedGridGroup($event)">
        </shared-grid>
    </tab>
    <tab>
        <ng-template tabHeading>
            <i class="{{ tabHeader[1]['iconCss'] == undefined ? 'fa fa-cube' : tabHeader[1]['iconCss'] }}"></i>
            {{ tabHeader[1]['text'] = undefined ? "" : tabHeader[1]['text'] }}
        </ng-template>
    </tab>
    <tab>
        <ng-template tabHeading>
            <i class="{{ tabHeader[2]['iconCss'] == undefined ? 'fa fa-cube' : tabHeader[2]['iconCss'] }}"></i>
            {{ tabHeader[2]['text'] = undefined ? "" : tabHeader[2]['text'] }}
        </ng-template>
    </tab>
</tabset>