/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-buttons/styles/material.css";
@import "~@syncfusion/ej2-calendars/styles/material.css";
@import "~@syncfusion/ej2-dropdowns/styles/fabric.css";
@import "~@syncfusion/ej2-inputs/styles/fabric.css";
@import "~@syncfusion/ej2-navigations/styles/material.css";
@import "~@syncfusion/ej2-popups/styles/material.css";
@import "~@syncfusion/ej2-splitbuttons/styles/material.css";
@import "~@syncfusion/ej2-grids/styles/material.css";
@import "~@syncfusion/ej2-angular-grids/styles/material.css";
@import "~@syncfusion/ej2-calendars/styles/material.css";
@import "~@syncfusion/ej2-angular-calendars/styles/material.css";
@import "~@syncfusion/ej2-angular-dropdowns/styles/material.css";
@import "~@syncfusion/ej2-angular-inputs/styles/fabric.css";
@import "~@syncfusion/ej2-angular-navigations/styles/material.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.e-lib.e-touch {
  padding-right: 0 !important;
}

h5.card-title {
  font-size: 14px;
}

div.tab-content {
  margin-top: 5px;
}

input.form-control {
  height: 31px;
  font-size: 13px;
}

.form-control {
  font-size: 13px;
}

div.input-group-append {
  height: 30px !important;
}

.alert.alert-danger {
  font-size: 12px;
  font-weight: 600;
}

.swal2-popup {
  width: 33em !important;
  height: 23em !important;
  font-size: 13px !important;
}

label {
  font-size: 15px !important;
}
