<div class="container">
    <div class="row justify-content-center padding-top-25" *ngIf="isLoading">
        <div class="col-lg-5 col-md-5 col-sm-5 text-center">
            <loading-spinner></loading-spinner>
            <h3 style="color: #3f72af">Loading</h3>
        </div>
    </div>

    <div class="row justify-content-center align-items-center padding-top-25" *ngIf="!isLoading">
        <div class="col-lg-5 col-md-5 col-sm-5 border-right">
            <img src="../../../assets/img/auth/undraw_secure_login_pdn4.svg" class="col-lg-12 col-md-12 col-sm-12">
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="alert alert-warning alert-dismissible fade show text-center " role="alert" *ngIf="error">
                <strong>{{ error }}</strong>
                <button type="button" class="close" aria-label="Close" (click)="onHideErrorMessage()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="card">
                <div class="card-header bg-white text-center py-2">
                    <h5 class="mb-0 text-secondary">
                        {{ authenticationMode ? "Log In to Your Account" : "Register New Account" }}
                    </h5>
                </div>
                <div class="card-body">
                    <form #authForm="ngForm" (ngSubmit)="onSubmitForm(authForm)">
                        <div class="form-group" *ngIf="!authenticationMode">
                            <label for="displayName">Nama Lengkap</label>
                            <input type="text" class="form-control" id="displayName" required ngModel
                                name="displayName">
                        </div>

                        <div class="form-group">
                            <label for="email">Username</label>
                            <input type="text" class="form-control" id="email" required ngModel name="email">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" required ngModel name="password"
                                minlength="1">
                        </div>

                        <button type="submit" class="btn btn-primary col-lg-12 col-md-12 col-sm-12"
                            [disabled]="!authForm.valid">
                            {{ authenticationMode ? "Login" : "Sign Up" }}
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center align-items-center" *ngIf="!isLoading">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-4">
            <h5 class="mb-0 text-secondary" *ngIf="authenticationMode; else SignUpState" (click)="onSwitchMode()">
                Need an account? <span class="text-primary pointer">Sign Up</span>
            </h5>

            <ng-template #SignUpState>
                <h5 class="mb-0 text-secondary" (click)="onSwitchMode()">
                    Already have an account? <span class="text-primary pointer">Login</span>
                </h5>
            </ng-template>
        </div>
    </div>
</div>